[2016-04-14 09:24] domsj opened #184 "Asd disk space quota"
NVME devices offer plenty of IOPS, more than we can expose with our current asd code.
Therefore we want to allow running multiple asds on the same device.
The currently desired solution would be adding an option to the asd config to allow specifying how much disk space it may actually use.
For the asd this will require some internal accounting to track it's usage of the disk/file system.

see http

[2016-04-14 11:32] khenderick commented on #184
Please make it possible to dynamically update this quota (updating config and sending USR1 or similar).

[2016-04-25 11:55] despiegk opened #188 "alba build in docker for arch & ubuntu 16.04 + documentation"
- docker build for arch & ubuntu 16.04
- explain how to build by means of docker (documentation)

[2016-05-02 09:20] domsj commented on #184
fixed by https://github.com/openvstorage/alba/pull/187

[2016-05-02 09:20] #184 closed

[2016-05-09 08:06] domsj commented on #188
On the 'ubuntu-16.04' branch there are docker images for ubuntu 16.04 and for arch linux, see https://github.com/openvstorage/alba/tree/ubuntu-16.04/docker .
https://github.com/openvstorage/alba/blob/ubuntu-16.04/COMPILING.md has been updated to show how to build alba using an ubuntu 16.04 docker image.
The arch linux docker file shows the steps needed to get arakoon built. Building alba is a few

[2016-05-13 08:17] despiegk commented on #188
@domsj are there code changes required? if so how much

[2016-05-13 08:21] domsj commented on #188
no, no code changes are required

[2016-05-17 11:20] domsj opened #195 "TLS (SSL) no longer works"
It was (intentionally) left broken as a result of #185
When fixing make sure to re-enable the travis job for this

[2016-05-17 15:16] domsj opened #197 "ASDs can refuse to start up after power loss"
[code]

The rocksdb log shows this:
[code]

We started seeing this after we started using the rocksdb recycle_log_file_name option, so it will probably be solved by https://github.com/facebook/rocksdb/pull/881.

[2016-05-18 15:05] jtorreke opened #199 "Replace average upload and download time in proxy-statistics by total time spent"
An example:

[code]

The avg/min/max time here is not really useful as you can't use it to detect changes in performance as the statistics are generated from the creation of the namespace. Numbers for the last 100 objects might be more meaningful. Another solution might also be to return the total amount of time spent to upload objects. Ok, you could do avg * number of objects, but the average wil

[2016-05-18 15:16] jtorreke opened #200 "Proxy-statistics show stats for deleted namespaces"
An example will clarify. The list of namespaces in the proxy-statistics:

[code]

The list of namespaces:

[code]

Am I missing something or checking this in the wrong way? It might as well be me.

[2016-05-19 12:31] domsj commented on #200
I don't think you're checking it the wrong way. In a way this behaviour is 'by design', or at least I could explain it as such after the facts ;-).
This allows you to get the latest statistics of a namespace you just deleted, otherwise this info would be lost.
We could clear this from the statistics if the namespace is deleted by this (the same) proxy ... but I don't think we want to do this. Beca

[2016-05-19 12:33] domsj commented on #199
Thanks for the suggestion to track total time spent uploading objects.
For now you can do the mentioned multiplication, which should be good enough, so putting this ticket as a low priority item.

[2016-05-19 12:38] wimpers commented on #200
@domsj are these statistics kept for ever or is there an option to force the deletion of statistics?

[2016-05-19 12:45] domsj commented on #200
There is already an option to clear all statistics when fetching them.
I'm not quite following with the 'multi-authenticated rename' thingie you're mentioning...

[2016-05-19 13:03] wimpers commented on #200
Authenticated rename should be autheticated delete.

@domsj  as discussed, please add a call so the statistics can be deleted for a specific volume.

@jtorreke, currently minor, if you would disagree please leave a comment below!

[2016-05-19 13:20] jtorreke commented on #200
I agree on the minor priority and we can work around it. It would just be silly to keep stats forever and ever about something which happened ages ago.

[2016-05-23 07:17] wimpers opened #202 "Use fadvice after upload of SCO"
Leaving uploaded SCO in the page cache makes no sense. Let the proxy use fadvice to give the kernel a hint for the SCO to be evicted from the page cache.

[2016-05-23 07:42] domsj commented on #202
Looks like we already do this. It's even configurable in the proxy config file using the 'use_fadvise' property, see https://github.com/openvstorage/alba/blob/master/cfg/proxy_demo.json#L24-L25 .
It defaults to true (which is what you want), so no integration needed from the framework side.

[2016-05-23 07:42] #202 closed

[2016-05-25 12:59] khenderick opened #207 "Make sure that the quorum flag is passed using etcdctl"
Make sure that the quorum flag is passed using etcdctl

[2016-05-26 08:57] domsj opened #208 "Repair on read"
When a (partial) object read can't get a copy of a certain fragment* we have to regenerate it from the other fragments of the chunk.
This incurs a (big) cost (extra IO to fetch the other fragments and some cpu), which will have to be paid each time until the fragment gets repaired by the maintenance process.
Ok, reality is better than this: if the proxy is configured with a fragment cache the pric

[2016-05-26 08:58] domsj commented on #207
This will be fixed in alba once we update it to a newer arakoon. If I don't forget I will then close this issue.

[2016-05-26 13:41] jeroenmaelbrancke opened #209 "Negative usage on asds"
[code]

On regular time intervals, asds/backend usage shows negative values. (see screenshots)
After restarting the asd the negative value disappears and the correct value is shown.

Negative used_bytes:

[code]

Restarting asd (correct value):

[code]

![backend_size](https://cloud.githubusercontent.com/assets/2900612/15576398/f2e89a2c-2357-11e6-95e7-d359c2cf84ea.png)
![negative_asd](https://clou

[2016-05-27 15:12] kinvaris opened #210 "asds are consuming a lot of memory"
Saw this on an environment for some ASD processes:
[code]

Apparently there is somebody working on determing the amount of memory for the ASDs: https://github.com/ovs-projects/org_development/issues/25

Currently the config says that the amount of memory that can be used is 0.25% equivalent to its own disk space. Maybe this is to ambitious? For 1.5TB disk this is in theory 3.75GB of memory.

[2016-05-27 15:26] kinvaris opened #211 "ASDs sometimes get "IO error: No such file or directory" without a valid reason"
**I've observed some issue's on the albaproxy during the write tests with 20ms latency between 2 datacenters:**

We will investigate 2 cases: `Timout` & `Broken pipe`

**First issue:**
As seen on CMP02 (and on other nodes): grep "Could not yet requalify" /var/log/upstart/ovs-albaproxy_myvpool-2-a.log | less

* In albaproxy:
[code]

* When requesting proxy details:
[code]

* Can't see anything seve

[2016-05-27 15:37] domsj commented on #211
As also stated in the chat: I suspect this a rocksdb bug. Managing the sst/log files is entirely rocksdbs reponsibility, so we sure don't do anything wrong there.
Rocksdb is in general well tested, however (as also mentioned in https://github.com/openvstorage/alba/issues/197) we're using the recycle_log_file_num option, which is a recent addition by ceph, and probably it's still a bit buggy.

Fixi

[2016-05-28 09:28] domsj opened #212 "Optimize repair IO with MSR (Minimum Storage Regenerating) erasure codes?"
Requires some more research, but for now I wanted to clean up some open browser tabs

https://www.usenix.org/conference/fast16/technical-sessions/presentation/pamies-juarez
https://www.usenix.org/system/files/conference/fast16/fast16-papers-pamies-juarez.pdf

[2016-05-30 15:10] domsj opened #213 "Alba 0.9.6 backwards incompatibility"
Old proxies can't decode OsdInfo from newer albamgrs

[code]

This results in old proxies not being able to communicate with the osds...

[2016-05-31 09:02] wimpers commented on #210
@eduardBM please close once verified

[2016-05-31 09:06] wimpers commented on #207
@domsj any update on the new Arakoon?

[2016-05-31 09:19] domsj commented on #207
No new arakoon yet. Is it urgent?

The alba/arakoon planning I had in mind was something like this:
- finish alba-as-asd branch (global vs local backend etc)
- fix http://jira.openvstorage.com/browse/OVS-3938 (arakoon should take a lock on e.g. a file in it's home dir). http://jira.openvstorage.com/browse/OVS-4539 is also related to this
- release a new arakoon
- update alba to latest arakoon
- fi

[2016-05-31 09:24] domsj commented on #207
Forgot to mention: before making a new alba I would like to fix #213 too

[2016-05-31 09:27] wimpers commented on #207
@domsj no problem. It isn't urgent as long as this one is fixed before we release.

[2016-05-31 11:21] eduardBM commented on #210
@wimpers, i don't see this situation on my environment, so i guess this can be closed.
@kinvaris, can you give more details about the setup (version, nr. of nodes, nr. of volumes, nr. of vms running).

Related to https://github.com/ovs-projects/org_development/issues/25 i set the rocksdb blockCache to 0.00025% (so 250MiB for 1TiB disk). Not sure how this translates to amount of memory used.

[2016-05-31 11:25] wimpers commented on #210
@kinvaris , re-open if needed.

[2016-05-31 11:25] #210 closed

[2016-05-31 11:37] eduardBM opened #215 "Implement cache settings"
Story: ovs-projects/org_development#25

[2016-05-31 11:38] #215 closed

[2016-05-31 14:40] kinvaris commented on #210
@eduardBM: What you changed to the rocksdb blockCache is related to the memory...

[2016-05-31 14:47] domsj opened #216 "Asds should also reload block cache size when sent a signal to reload (part of their) config"
Currently this mechanism is used by the framework to notify the capacity to be used by the asd. At the same time they will also reconfigure the block cache size, so we should probably take that change into account then too.
Not sure if rocksdb allows us to change this for an already opened database... otherwise we may have to close and reopen it with the changed settings.

[2016-05-31 15:54] domsj opened #217 "Expose batch API as part of the proxy protocol (including asserts)"
This could help the voldrv in implementing automatic failover / force stealing of volumes

[2016-06-01 12:47] jeroenmaelbrancke opened #218 "use the standard ovs log format for RDMA logs"
Can you please use the standard ovs log format described on the [gitbook](https://openvstorage.gitbooks.io/framework/content/docs/log.html).

RDMA logging:
[code]

The different components all log in the following format:
[code]
Where
[code]
Example:
[code]

[2016-06-01 15:26] domsj commented on #211
see #220

[2016-06-01 15:27] #211 closed

[2016-06-02 12:44] khenderick opened #221 "Command alba cache-eviction should be able to get params out of configuration file"
Command ```alba cache-eviction``` should be able to get params out of configuration file.

At this point, a ```--prefix``` and ```--preset``` must be passed along, but we most likely want to use eviction processes for multiple prefixes and presets.

[2016-06-02 13:31] domsj commented on #207
updated to latest arakoon in #222

[2016-06-02 13:31] #207 closed

[2016-06-03 08:28] #213 closed

[2016-06-03 10:30] domsj commented on #216
I've already made a necessary change to rocksdb: https://github.com/facebook/rocksdb/pull/1149

[2016-06-07 10:23] kvanhijf opened #228 "Create-preset should be able to read its configuration from an URL instead of stdin"
From the --help of alba create-preset:
```alba-create-preset - create a new preset. the preset is read from stdin as json, pls have a look at cfg/preset.json for more details.```

[2016-06-07 11:41] kvanhijf commented on #228
Update-preset is also affected by the same behavior

[2016-06-07 12:37] kvanhijf opened #229 "Add '--to-json' option to all ALBA CLI calls"
For the framework team it would come in handy as to be able to pass --to-json to all calls, so we know a JSON output format is always returned
In this way we can detect if any other format is returned an error was thrown executing the command

[2016-06-07 12:38] kvanhijf opened #230 "verify-namespace --help is incomplete"
NAME
       alba-verify-namespace - verify all objects in the specified namespace

SYNOPSIS
       alba verify-namespace [OPTION]... NAMESPACE JOB_NAME

ARGUMENTS
       NAMESPACE
           namespace

OPTIONS

Argument JOB_NAME is not described

[2016-06-08 13:01] domsj commented on #230
See #231

[2016-06-08 13:01] #230 closed

[2016-06-08 13:10] domsj opened #232 "Repair weakest object first"
We'll already do this if only 1 policy is active for each namespace, but if multiple are active you may not get the desired behaviour

[2016-06-08 13:10] domsj opened #233 "Alba osd: refresh abmcfg + provide an implementation for its disk usage"

[2016-06-08 13:19] domsj commented on #221
As an alternative for this issue we also discussed another scenario:
- no separate cache eviction process
- run cache eviction inside the maintenance processes of the backend that is used as a cache
- when a backend starts using another backend as a cache this should be notified towards the cache backend (so it can persist this info, and the maintenance processes can take it into account)

[2016-06-09 12:44] wimpers commented on #221
To be tackled in https://github.com/ovs-projects/org_development/issues/18

[2016-06-09 12:44] #221 closed

[2016-06-10 09:04] pploegaert opened #235 "Noticed several Arakoon_etcd.ProcessFailure(_) when issuing list-presets / add-preset cli commands"
Cause: due to Etcd timeout, the alba-cli command returns Arakoon_etcd.ProcessFailure()

Noticed in backend suite on:
- single node env:  http://testrail.openvstorage.com/index.php?/plans/view/32791
- grid env:  http://testrail.openvstorage.com/index.php?/runs/view/32786

[2016-06-10 14:26] wimpers commented on #229
@domsj can this one be closed since https://github.com/openvstorage/alba/pull/231 is closed

[2016-06-10 14:33] #229 closed

[2016-06-14 07:23] domsj commented on #228
fixed by #239

[2016-06-14 07:23] #228 closed

[2016-06-16 15:56] domsj commented on #232
resolved by #244

[2016-06-16 15:56] #232 closed

[2016-06-17 06:39] despiegk opened #245 "need better doc"
e.g. https://github.com/openvstorage/alba/blob/master/doc/dependencies.md scrambled text

there are .tex docu in there, I though we wanted .md

is the doc about docker still ok

please lets cleanup

[2016-06-17 06:41] despiegk commented on #245
fyi there are nice plugins on gitbook like mermaid
they can be used for the graphs no need to use latex

please lets use same format everywhere, just md

also many docs seem to be old

[2016-06-17 06:42] despiegk opened #246 "need better doc how to install only using alba components"
- starting from the docker builds
- then guidelines about config files (can't find)
- how to start
- what is what

people need to be able to deploy this project without having to know anything else apart from arakoon

[2016-06-17 06:44] despiegk opened #247 "alba scalability tests on large amount of disks & big disks (SLOW disks)"
we want to help to do a big scalability test
where we deploy alba on ub 16.04 and push upto 70 disks of 8 TB
we want to see behaviour on slow disks and detect performance

to be able to do this we will need better documentation

once this works well we can help on testing of the other components

[2016-06-17 06:45] despiegk opened #248 "statistics (doc)"
we would like to understand how to get statistics from alba
we want to store in influxdb
what is best approach to get stats out of alba?

[2016-06-17 06:45] despiegk commented on #248
is there documentation?

[2016-06-17 12:18] wimpers opened #249 "Document alba C client"
Document the alba C++ client.

[2016-06-17 12:18] wimpers commented on #249
@toolslive @domsj anywhere I can find some internal documentation around this?

[2016-06-17 12:27] domsj commented on #249
We have a C++ client, not a C client.
There is no documentation, but usage of the client is rather straightforward.
See https://github.com/openvstorage/alba/blob/master/cpp/src/examples/test_client.cc for a simple program that uses it.
sample usage: https://github.com/openvstorage/alba/blob/master/cpp/src/examples/test_client.cc#L161-L162
proxy client interface: https://github.com/openvstorage/alb

[2016-06-20 08:52] wimpers commented on #248
@jeroenmaelbrancke can you provide info or point to the script/documentation you are creating/created.

[2016-06-20 09:13] wimpers commented on #235
@pploegaert what would be a sane timeout setting?

[2016-06-20 09:31] jeroenmaelbrancke commented on #248
@wimpers I'm finishing the ansible installation scripts with redis integration.
Documentation is still in process on confluence and will convert this to gitbook when this is approved by someone from my team.
+ The ansible scripts will be available on the openvstorage monitoring repo when the documentation is finished.

[2016-06-20 09:39] wimpers commented on #188
As discussed last Friday with @despiegk  Arch Linux isn't required.

[2016-06-21 08:10] kinvaris opened #252 "Proxy & maintenance create too many connections to the arakoons resulting in `warning - max connections reached, denying this one`"
During the setup of a Open vStorage GeoScale cluster we experienced the following issues:
- The global backend maintenance agents created 500 active connections to arakoons & proxy.
- The proxy exceeds its max. connection pool of `10`

[code]

This all resulting in: (only for `ABM's` who are cross datacenter)
[code]

[2016-06-21 13:57] wimpers commented on #249
https://openvstorage.gitbooks.io/alba/content/docs/client.html

[2016-06-21 13:57] wimpers commented on #249
https://openvstorage.gitbooks.io/alba/content/docs/client.html

[2016-06-21 13:58] wimpers commented on #249
@despiegk let me know if more info would be required

[2016-06-21 13:59] #249 closed

[2016-06-21 14:06] wimpers commented on #252
@domsj @toolslive  seems @kinvaris  is stuck with his demo env in ovh due to this one. Can you check please?

[2016-06-22 09:29] #252 closed

[2016-06-22 14:50] wimpers commented on #248
@despiegk https://openvstorage.gitbooks.io/ovs-monitoring/content/

[2016-06-24 13:57] kinvaris opened #259 "Exception in populate_osds_info_cache: (Failure "attempting to use a resource from a pool which is being finalized");"
During our multidatacenter we encountered this in a proxy:
[code]
This error was filling the logfile of the proxy very quickly.

[2016-06-27 07:16] khenderick opened #260 "Namespace names in OSD backend or Cache backend are not UTF-8"
Namespace names in OSD backend or Cache backend are not UTF-8. While not strictly required, UTF-8 is advised for JSON, and the python json parser seems to depend on this advise as it can't parse the JSON output returned by e.g. show-namespaces.

It would be nice if the counter could be added in some more readable way, e.g. `<prefix>_<counter>` where counter is `00000001`, `00000002`, and so on.

[2016-06-28 07:19] toolslive commented on #260
Does this mean that Alba should have a constraint on the names of namespaces ?
#262 changes the generated filenames, but what about names decided by users?

[2016-06-28 07:42] domsj commented on #260
If we were to have a constraint on the names of namespaces then it should probably be optional, as otherwise it's a breaking change. (New setups could optionally enable this constraint.)
The main reason I wanted to tackle this issue is that I don't want to have a hard time when using the cli to query info about these generated namespaces...
I'll leave the issue open for now so we can still decide

[2016-06-28 08:01] khenderick commented on #260
As @toolslive pointed out, ```UTF-8```, ```UTF-16``` or ```UTF-32``` is required, and ```UTF-8``` is the recommended option of these 3. See https://tools.ietf.org/html/rfc7159#section-8.1

[2016-06-28 09:07] kinvaris opened #264 "Put timeouts on CLi commands"
We noticed on some environments that the Alba CLi commands were stuck because of `max connections reached` on a ABM. This was caused by the fact that multiple commands were called but it had no timout (and this lead to `max connections reached`).

Maybe it would be interesting to put a timeout on every Cli command to avoid such encounters.

[2016-06-28 09:12] kinvaris commented on #264
https://github.com/openvstorage/framework/issues/675

[2016-06-28 13:27] jeroenmaelbrancke opened #265 "alba output to json format is incorrect when error occurs"
alba version: 0.9.11

When alba returns an error the output is not in the correct json format
[code]

json error:
[code]

[2016-06-28 14:19] pploegaert commented on #218
Noticed that kind of entries does appear quite often:

alba-maintenance_alba-on-ssd-KFxFZQG3gLD3kY0R.log: 9264 times
ovs-albaproxy_vpool-all-ssd.log: 9240 times

[code]

and in:

[code]

[2016-06-28 14:43] pploegaert opened #266 "High cpu usage on nsm arakoon process / alba maintenance agent - during / after fio performance test"
Noticed:

[code]

According to @domsj possibly related to:
- clean_obsolete keys / MarkKeysDeleted action of maintenance process

[2016-06-28 15:51] #266 closed

[2016-06-29 06:43] toolslive commented on #218
It's not us doing it, and if you load the ib kernel modules, it goes away.
ie:
[code]

[2016-06-29 08:59] pploegaert opened #269 "asd-discovery detects asds from another env and tries to connect while it shouldn't"
asd-discovery process detects asds belonging to another alba and tries to connect but it doesn't have the hardware required to do that
To be investigated

[code]

[code]

[2016-07-01 07:26] domsj commented on #269
This behaviour was in the past considered as a feature ...
Disabling it (either by default or entirely) would be a backwards compatibility breaking change for alba.
But it can be done if first some changes are made to the framework.

[2016-07-04 09:08] kinvaris opened #270 "Alba commands seem to hang and use a lot of system resources"
[code]

[code]

[code]

[code]

[code]

[2016-07-04 13:09] toolslive commented on #270
these command are started by this:

[output = check_output(cmd, shell=True).strip()](https://github.com/openvstorage/framework-alba-plugin/blob/66682a22b2672ed1f58dac02ce8448e22c7f59a1/ovs/extensions/plugins/albacli.py)

Current hypothesis is this:
if the python process dies before the output is processed, the alba process isn't shot. It remains alive, with nowhere to go for the output. The proces

[2016-07-05 06:34] toolslive commented on #270
With the above hypothesis in mind, I was able to reproduce a few of these spinning alba cli's
on a dev environment with ~200 asds:

[code]

[2016-07-05 08:42] jtorreke opened #271 "Move 'New client connection' log statement to debug instead of info"
Like the title says; the 'new client connection' log statement should be debug instead of info. It's filling up the log files too fast. This one causes our ELK-stack to not be able to process all logging and it's just not very useful as no additional info is shown on who is connecting from where.

[2016-07-05 12:41] wimpers commented on #269
Please lay your egg what should be done.

[2016-07-05 12:57] wimpers commented on #195
From A.S. > this isn't important so don't put it up now

[2016-07-06 07:29] toolslive commented on #270
fwiw, the script fails to produce spinning cli's if  the command is a list iso a string.

[2016-07-08 10:53] openvstorage-ci opened #276 ""Too many open files" connect during ASD claim on RDMA"
_From @kinvaris on July 7, 2016 17:18_

[code]

_Copied from original issue: openvstorage/framework#707_

[2016-07-08 10:53] openvstorage-ci commented on #276
_From @kinvaris on July 7, 2016 17:19_

Sometimes it works, sometimes it gives this error

[2016-07-08 10:53] openvstorage-ci opened #277 "Cannot allocate memory" socket during ASD claim on RDMA"
_From @kinvaris on July 7, 2016 17:18_

[code]

_Copied from original issue: openvstorage/framework#706_

[2016-07-08 10:53] openvstorage-ci commented on #277
_From @kinvaris on July 7, 2016 17:20_

Sometimes it works, sometimes it gives this error

[2016-07-08 11:45] domsj commented on #276
Could this be an RDMA resources permission problem?

[2016-07-08 11:50] domsj commented on #277
same remark as on #276 : "Could this be an RDMA resources permission problem?"

[2016-07-08 11:51] kinvaris commented on #276
@toolslive also pointed this out yesterday but sometimes it worked, sometimes it did not work.

[2016-07-09 14:23] toolslive commented on #277
From the open-mpi faq:
[18. Open MPI is warning me about limited registered memory; what does this mean?](https://www.open-mpi.org/faq/?category=openfabrics#ib-low-reg-mem)
[16. How can a system administrator (or user) change locked memory limits?](https://www.open-mpi.org/faq/?category=openfabrics#ib-locked-pages-user)

[2016-07-09 14:54] toolslive commented on #245
- the dependencies document was what we kept in our repo to be able to generate the confluence dependency page that needed to be kept up to date. (fwiw, it looks great on confluence)
- you might want markdown, but I haven't been able to find anything that can render a simple math formula on github. I quickly took a look at mermaid, and it's (too) limited.

So we used latex, generated a pdf and put

[2016-07-11 09:57] openvstorage-ci commented on #270
This issue was moved to openvstorage/framework-alba-plugin#156

[2016-07-11 09:57] #270 closed

[2016-07-11 15:05] toolslive commented on #218
https://github.com/ofiwg/librdmacm/commit/2b2aad809afc56fa3157f5cf99036f92b9c90f16

So basically, if you see it, you're using librdmacm < 1.0.21

[2016-07-14 14:33] wimpers opened #278 "Removing many vdisks at once causes issues on the backend"
In case you remove many vdisks at the same time, the backend will have issues and the ASDs will go in red. This has as result that you end up with unsatisfiable policy errors in some cases.

[2016-07-18 10:53] #277 closed

[2016-07-18 11:56] toolslive commented on #271
connection setup/teardown is rather important, and should be rare.
Currently, in https://github.com/openvstorage/alba/compare/%23271?expand=1
We're logging the peer, but we might want to do more, and change the strategy for things like
asd-statistics: iso direct connection, go via maintenance or proxy.

[2016-07-18 13:32] domsj commented on #278
The maintenance process causes too much load when cleaning up blobs for the deleted namespace.
There is some throttling already present in the asds to limit how much impact maintenance (repair etc) can have, but apparently it is (wasn't) there yet for fragment cleanup.

[2016-07-18 14:25] domsj commented on #278
Please try again when alba 0.9.14 has been released

[2016-07-18 14:25] #278 closed

[2016-07-19 11:53] toolslive commented on #271
Ok, seeing who's the culprit that creates the connections is enough for now.

[2016-07-19 11:53] #271 closed

[2016-07-20 12:30] domsj commented on #259
Fixed in #289, should be in the next alba release

[2016-07-20 12:30] #259 closed

[2016-07-25 07:11] toolslive commented on #276
This is probably fixed by #283 If you see this again, please reopen.

[2016-07-25 07:11] #276 closed

[2016-07-25 11:51] khenderick opened #294 "Alba binary responds slow to calls"
Alba binary responds slow to calls in case of RDMA/RORA when there are a lot (20 or more) asds in a single backend. Observed a few times on KLONE and Samung POC. Pinning the ASDs does not help.

[2016-07-25 13:17] toolslive commented on #265
The problem occurs when the cli is not able to connect to the respective component (proxy or asd).
A fix is in branch `bug#265`

[2016-07-26 09:10] #265 closed

[2016-07-26 09:14] toolslive commented on #218
You should not get this on a  properly installed environment.

[2016-07-26 09:14] #218 closed

[2016-07-26 09:15] toolslive opened #297 "rora: client's manifest cache should also be filled on partial read via proxy."

[2016-07-29 12:46] domsj commented on #294
#283 should've improved the situation for a bunch of calls.
From our chat over the noon I remember that there're still problems for the following calls:
- claim-osd, purge-osd, decommission-osd & get-disk-safety: these should've improved too in #283, but maybe I made a mistake, will check
- asd-multi-statistics: it's expected that this one would still be slow.
Several options to fix asd-multi-stat

[2016-07-29 14:51] wimpers opened #301 "Replication: local read preference"
In case you configure the policy of a global backend to be X-way replication, we should always try to read from a local backend instead of going to another datacenter. Currently this isn't build in so it could be that for a read you access another datacenter while there is a copy in the local datacenter.

Question:
- How does a proxy know which is the local backend?

[2016-07-29 14:54] wimpers opened #302 "Lazy write out"
We should optimize the write process by allowing a lazy write out where we acknowledge a write in case c fragments have been stored correctly. Currently we only do this in case of a disaster scenario but we should do this by default.

[2016-07-29 15:04] domsj commented on #301
Regarding the question: I think the proxy should have a configuration option that tells it which osd(s) it should prefer to read from

[2016-07-29 15:11] wimpers commented on #301
Could we use the domains tag for that?

[2016-07-29 15:33] domsj commented on #301
Alba doesn't know about domain tags. But the framework might be able to configure the alba proxy correctly (regarding the local read preference) based on these domain tags (@khenderick)?

[2016-08-01 08:17] domsj opened #303 "Allow more namespaces & work items"
Currently we internally use an int32 to track these, so after a while we may run out.
Running out isn't very likely, but in long enough living environments it could happen, and I would feel safer if we address this.
I think we can address this in a backwards compatible way, see https://github.com/openvstorage/alba/compare/extend-int32-to-int64 . That branch implements the needed changes for extend

[2016-08-04 13:12] wimpers opened #306 "Make help of alba show-namespaces more clear"
Currently the help of  show-namespaces is quite limited: ' information about a range of namespaces'. Add more information about how one should read the output of this command.

[2016-08-05 07:42] domsj opened #307 "changed policies are not propagated to the nsms"
Because the nsm doesn't know this new policy it blocks writes that may violate the policy (as a defency mechanism).

This resulted in the maintenance process not being able to do its work:

[code]

It could probably also result in writes from the proxy failing due to this.

Workaround: don't change your policy, and if you did change it back to the original value.

[2016-08-05 08:05] domsj commented on #306
fixed in #308

[2016-08-05 08:15] domsj commented on #306
https://github.com/openvstorage/alba/pull/308#issuecomment-237784555

[2016-08-05 09:46] domsj commented on #307
The issue is actually even worse: once an object has been written with a certain amount of disks per node it can never get a higher amount of disks per node, regardless of what is in the policy.
The policies ain't even propagated to the nsm when it's created...

[2016-08-05 12:33] domsj commented on #307
reducing priority to normal because #309 has been merged

[2016-08-08 08:12] khenderick opened #311 "Allow configuration from arakoon"
Allow configuration from arakoon. Story: ovs-projects/org_development#44

[2016-08-08 13:33] wimpers commented on #294
@pploegaert  will create a test  to see if there are still issues

[2016-08-09 14:47] JeffreyDevloo opened #312 "Auto-repair high cpu load"
# Problem description

CPU usage spiking on all nodes within a cluster. (see first picture below)
The CPU spike is coming from alba maintenance (see second picture below)
![selection_003](https://cloud.githubusercontent.com/assets/17570109/17520043/8b6c9e5c-5e4e-11e6-8651-a7ded05285cd.png)
![selection_004](https://cloud.githubusercontent.com/assets/17570109/17520182/08f33a0c-5e4f-11e6-9b47-5547bfe

[2016-08-10 14:55] domsj opened #314 "Alba proxy crashes with Unix_error "Invalid argument" select"
[code]

Saw this 450 times  in a log file of a day.

The env (OVH) was not configured to use rdma.

[2016-08-11 08:41] wimpers commented on #312
@JeffreyDevloo what happened on this env? Why was there so much maintenance work to do? Any logs you can add so we can investigate what it was doing?

[2016-08-11 08:56] domsj commented on #312
There was no need to do repair work. It's a bug in the detection of when auto-repair should happen (as evidenced by the fact that disabling auto-repair made the load go away).

[2016-08-11 09:00] redlicha opened #317 "RDMA Proxy client: infinite loop reading the proxy response"
Observed during tests:
[code]

The case `read == 0` is not handled correctly:

(from `recv(2)`).

Together with the rounding caused by `_stamp_ms()` and the `double` -> `int` conversion, this can cause `_request_time_left` to stay at its current value forever.

[2016-08-11 09:12] redlicha opened #318 "RDMA Proxy client's timeout shouldn't be based on gettimeofday"
Discovered via code inspection while debugging https://github.com/openvstorage/alba/issues/317 :
[code]

`gettimeofday` returns the wall clock time - better use a steady clock, e.g. `boost::chrono::steady_clock` - http://www.boost.org/doc/libs/1_61_0/doc/html/chrono/reference.html#chrono.reference.cpp0x.system_clocks_hpp.steady_clock , e.g. (pseudo code!):

[code]

[2016-08-11 09:18] redlicha commented on #317
FWIW: the reason for the peer shutting down the connection might also be interesting to investigate? @domsj, the affected system is still available.

[2016-08-11 09:38] domsj opened #319 "Proxy: (Invalid_argument "index out of bounds")"
[code]

this is triggered during a write call from the voldrv:
[code]

[2016-08-11 09:55] domsj opened #320 "c++ proxy client "unexpecteded Manifest version""
[code]

[2016-08-11 09:56] domsj opened #321 "c++ proxy client "reading outside of message""
[code]

could be related to #320 ?

[2016-08-11 12:01] kinvaris opened #323 "[ASD] error during client request: Prelude.DecodingFailure("bool: invalid tag 0x61")"
While performing a fio test on a vpool we saw this error on a ASD:

This happened during this test: https://github.com/ovs-projects/org_quality/issues/22

Also the volumedriver and proxy communication between each other has been changed to `TCP` in addition to the above ticket.

[code]

[2016-08-12 13:48] redlicha opened #326 "RORA fetcher logging improvements"
During tests we've seen the following in the volumedriver log:
[code]

The "retcode:-5" message comes from the RORA fetcher and should be at `error` level and should if possible also provide information about the target (ASD) of the failed request.

[2016-08-12 14:02] kinvaris opened #327 "Fio tests gets stuck while communicating through RORA."
When performing the fio read test to see communication via RORA we see this error:
[code]

The error seems to be connected to errors on the ASDS:
[code]

An also unhappy result was that the read errors resulted in the fio test being totally stuck. It seems like the manifest cache in the proxy is not updated after such errors.

[2016-08-12 14:06] domsj commented on #327
workaround: don't use rora!
(glad I could help)

[2016-08-12 14:15] redlicha commented on #326
[code]
The message should be emitted on `retcode != 0`

[2016-08-16 13:39] #317 closed

[2016-08-16 13:39] domsj commented on #318
fixed in #325

[2016-08-16 13:39] #318 closed

[2016-08-17 14:10] domsj opened #330 "Rora fetcher manifest cache eviction will constantly evict the same items"
https://github.com/openvstorage/alba/pull/299#discussion_r72932737
And if those items are hot then performance might suffer...

[2016-08-17 14:21] domsj commented on #188
this was fixed in #313

[2016-08-17 14:21] #188 closed

[2016-08-17 14:30] domsj commented on #297
fixed by #299

[2016-08-17 14:30] #297 closed

[2016-08-17 21:01] domsj commented on #320
Fixed by #331

[2016-08-17 21:01] #320 closed

[2016-08-17 21:02] domsj commented on #321
Fixed by #331

[2016-08-17 21:02] #321 closed

[2016-08-17 21:03] domsj commented on #326
Fixed by #329

[2016-08-17 21:03] #326 closed

[2016-08-19 12:11] kinvaris opened #336 "Make fragment size of preset update-able"
Referring to https://github.com/openvstorage/framework/issues/819

[2016-08-19 13:09] kinvaris opened #337 "error - logMessage: aio_return retcode:4096 when testing RORA functionality"
In continuation of: https://github.com/ovs-projects/org_quality/issues/22

When performing fio tests on the volumedriver to test the RORA functionality via RDMA, I saw this error occuring in the volumedriver. I searched in the ASD logs (related these logs) for errors but nothing popped up.
[code]

Although these errors are occuring, we see that the RORA functionality performs good. It gets the max

[2016-08-19 13:18] kinvaris commented on #327
Should be fixed in combination of `alba 0.9.18` and new volumedriver updates referenced in https://github.com/ovs-projects/org_quality/issues/22

[2016-08-19 13:20] domsj commented on #323
@kinvaris saw this exactly once, so I'll lower the priority a bit

[2016-08-19 14:29] domsj opened #338 "Rora fetch from fragment_cache asds"
So we can use it (and have the expected performance) with accelerated alba backends too

[2016-08-19 14:30] JeffreyDevloo commented on #248
The gitbook contains the standard procedure that we use ourselves for monitoring statistics.

[2016-08-19 14:30] #248 closed

[2016-08-19 15:18] domsj commented on #337
Fixed in #339

[2016-08-19 15:18] #337 closed

[2016-08-22 07:04] toolslive commented on #330
currently it's [random and expensive](https://github.com/openvstorage/alba/blob/master/cpp/src/lib/manifest_cache.cc#L73-L74).

[2016-08-22 12:14] wimpers commented on #209
@jeroenmaelbrancke I had a small chat about this ticket with @domsj and we believe this was fixed. Did you see this negative asd value behavior the last few weeks/months? Can we close it as fixed and re-open if needed?

[2016-08-22 13:32] jeroenmaelbrancke commented on #209
You can close this ticket now.
We did not see negative asd values the last few weeks.

[2016-08-22 13:34] wimpers commented on #209
After discussion with OPS and ENG set to closed. Re-open if needed.

[2016-08-22 14:23] toolslive commented on #330
addressed in #342

[2016-08-22 14:33] wimpers opened #343 "ALBA proxy “circuit breaker”"
The purpose of the ALBA proxy “circuit breaker” (APCB) is to be used in conjunction by the volume driver keep alive (https://github.com/openvstorage/volumedriver/issues/90) by an external HA orchestrator. The HA orchestrator sets a flag so the proxy can no longer upload to a certain namespace.

[2016-08-22 19:55] #330 closed

[2016-08-23 11:46] toolslive commented on #327
wrong path calculation is the cause of this.

[2016-08-23 12:00] toolslive commented on #327
fix in #344

[2016-08-24 09:17] wimpers commented on #314
Also seeing this on alba 0.9.17

[2016-08-24 15:06] redlicha opened #345 "Add (RORA) hit / miss counters to `read_object_slices`"
VolumeDriver will accumulate and expose these.

[2016-08-25 16:02] domsj opened #347 "Optimize verify-namespace to avoid transferring the fragments over the network"
https://github.com/openvstorage/alba/pull/340 introduces (asd) server side verification of blobs, which could be leveraged by the verify namespace functionality.
Do mind we might want to fiddle some more with the serverside cost of the verify then...

[2016-08-26 08:39] #343 closed

[2016-08-26 08:54] wimpers opened #348 "Expose the assert"
Expose the assert so we can block a proxy from writing to the backend.

[2016-08-26 12:18] wimpers commented on #348
Duplicates https://github.com/openvstorage/alba/issues/217

[2016-08-26 12:18] #348 closed

[2016-08-27 14:24] nhonnavar opened #349 "Add vpool fails if storagerouter has only one IP address"
Observed following error while adding vpool from ovs GUI.
ValueError('Errors validating the partition roles:\n - No available IP addresses found suitable for Storage Router storage IP'

FIX tried:
Just added one more fake virtual IP to the storagerouter (ifconfig p10p1:0 172.22.0.1 netmask 255.255.255.0)  and then proceeded with add vpool , the error went away, vpool created successfully.

Here it

[2016-08-27 20:09] khenderick commented on #349
Duplicates https://github.com/openvstorage/framework/issues/843

[2016-08-27 20:09] #349 closed

[2016-08-29 08:24] domsj opened #350 "Not all objects got repaired by maintenance process"
On the OVH env @jeroenmaelbrancke noticed that not all objects got repaired (objects stayed in sub optimal buckets compared to what was possible with given environment & policies).
After restarting all the maintenance processes all objects were finally repaired.

So it looks like something can get stuck in the repair loop of the maintenance processes.

In some of the maintenance processes I also s

[2016-08-29 09:06] domsj commented on #350
Some more info:
ok namespaces: 3,15,12,18,16,5,14,11
not ok namespaces: 6,9,10,13,7,8

9 maintenance processes in total

[2016-08-29 12:17] kinvaris opened #351 "Proxy hangs on read system call"
The proxy was hanging and we investigated:
[code]

[code]

[code]

[2016-08-29 12:19] kinvaris commented on #351
We found this on an environment with mixed transport types. Normal communication goes via TCP. RORA goes via RDMA

[2016-08-29 12:37] domsj commented on #351
fwiw the tcp flavour is tcp over rdma, so the rdma stack is still involved

[2016-08-29 13:41] redlicha opened #353 "Expose conditional write call in C++ API"
Specific use case: upload an object O only if an object C's SHA-1 matches the expectations (while permitting to specify O's checksum and whether overwrites are accepted or not).

[2016-08-29 13:43] domsj commented on #353
simplifies https://github.com/openvstorage/alba/issues/217

[2016-08-29 15:55] domsj opened #354 "Checksum verification for partial reads"
When doing partial reads we only fetch the requested data, for which we (currently) can however not verify its correctness, as we don't keep checksums with this granularity. (We have checksums on fragment and object level.)
So if some (disk) corruption happens and you're using partial reads to read the data we will not notice this. (We could notice it later on as part of a verify-namespace mainten

[2016-08-30 09:29] kinvaris commented on #327
Not seen anymore during test with alba version:
[code]

[2016-08-30 09:31] kinvaris opened #355 "Fio tests via RORA get stuck because of failed disks"
This error occured because some disks were broken in the backend. It seems like no dequalify takes place for a osd and RORA just gets stuck.

[code]

[2016-09-01 07:02] #327 closed

[2016-09-01 07:34] toolslive opened #360 "RORA: support for small fragments"
When the fragment is small, it's put in rocksdb. A rora partial read for something inside that fragment will fail, and the fragment will be fetched via the long route (aka proxy).
This causes poor performance, and happens more often than previously anticipated.

[2016-09-01 09:23] wimpers opened #361 "Default replication policy is dangerous"
If you select 3-way replication the policy is (1, 2, 1, 3). If you use this policy across a global backend (3 datacenters), there is no guarantee a copy will be available in each datacenter. A better approach would be to use (1,2,1,**1**).

[2016-09-01 10:39] domsj commented on #361
Don't you want to suggest (1,2,2,x) instead?

I think each local backend is considered to be part of it's own 'node', so the last constraint actually doesn't do much in this case.
And if they are not part of different nodes, then your suggestion would result in storing maximum 1 copy...

Btw: you want to move this ticket to the https://github.com/openvstorage/framework-alba-plugin repo.

[2016-09-01 11:02] openvstorage-ci commented on #361
This issue was moved to openvstorage/framework-alba-plugin#193

[2016-09-01 11:02] #361 closed

[2016-09-01 12:30] wimpers commented on #354
Can you add an estimate?

Doesn't the voldrv keep a CRC of a 4K block?

[2016-09-01 12:39] redlicha commented on #354
voldrv does not keep a CRC per cluster. SCO and TLog CRCs are stored in the TLogs.

[2016-09-01 13:54] domsj commented on #354
estimate: a week without interruptions

[2016-09-02 06:49] domsj commented on #314
problem fixed in alba 0.9.19 now that we're building on the other jenkins slave again...

[2016-09-02 07:58] jeroenmaelbrancke opened #362 "print proxy-client-cfg as json"
Can you add the option to get the proxy-client-cfg as json?

[code]

[2016-09-02 12:38] wimpers commented on #350
@jeroenmaelbrancke @jtorreke can we add a rule for this on checkmk if we don't have one yet (f.e. unrepaired objects for longer than 24h)?

[2016-09-02 15:42] domsj opened #363 "Potential dataloss issue for global backends"
Fragments of global objects, which are stored as objects on the local backends, might be lost due to a missing check in the namespace manager for it's apply_sequence operation.
In that case it does not verify the gc_epoch, which allows a race between writing out fragments, cleaning them up by the maintenance process (which might think they were written by clients which died) and storing the manife

[2016-09-02 15:56] domsj commented on #363
It seems that I was mistaken ... there was no potential dataloss. The check does happen, but the gc_epoch is passed through for each object in the batch while I expected it to be 1 gc epoch for the whole batch.

[2016-09-02 15:56] #363 closed

[2016-09-03 09:24] #311 closed

[2016-09-05 07:18] wimpers opened #364 "Archive Tier"
Next to the current functionality of the geoscale backend, we want to option to do a lazy write to another tier, the archive tier. This tier can be an external ALBA backend or an S3 compatible backend (in a later version). Since there is a lazy write out, some data will be lost in case the geoscale backend goes down.

[2016-09-05 08:23] #364 closed

[2016-09-05 14:27] wimpers commented on #245
* https://openvstorage.gitbooks.io/alba/content/docs/dependencies.html

[2016-09-05 14:35] wimpers commented on #246
* What is what is described under https://openvstorage.gitbooks.io/alba/content/docs/
* How to build https://github.com/openvstorage/alba/blob/master/COMPILING.md
* Setup guide https://openvstorage.gitbooks.io/alba/content/docs/setup-guide.html
* Config files are documented under https://openvstorage.gitbooks.io/framework-alba-plugin/content/docs/etcd.html as this is where these config files are s

[2016-09-05 14:35] #246 closed

[2016-09-09 11:10] wimpers commented on #197
@domsj what still needs to happen for this one? Didn't we revert something on our side so we didn't run into it?

[2016-09-09 11:12] domsj commented on #197
@wimpers indeed in #220 we stopped using the rocksdb_recycle_log_file_num option so we no longer run into this problem

[2016-09-09 12:44] wimpers opened #367 "Improve asd write performance by using rocksdb_recycle_log_file_num"
Part of the solution for https://github.com/openvstorage/alba/issues/197 was to remove using rocksdb_recycle_log_file_num . We should use it again since the issue in rocksdb is now fixed. This will improve the write performance of the ASDs.

[2016-09-09 13:14] #197 closed

[2016-09-12 10:00] kinvaris commented on #314
Seen this error on alba `0.9.19`:
[code]

Error:
[code]

[2016-09-13 12:39] domsj commented on #314
Looks like the problem can be avoided by using another lwt engine, this can be done by setting an env var `ALBA_LWT_ENGINE=libev` before the proxy is started (e.g. add it to the upstart service file).
This workaround is only possible when the proxy has to do no rdma operations whatsover.

This means the problem probably comes from inside ordma, more specifically I think the issue is due to the pro

[2016-09-13 12:41] domsj commented on #351
@kinvaris have you still seen this issue? I think it will also disappear by following the suggestion in https://github.com/openvstorage/alba/issues/314#issuecomment-246667950 (setting that env var).

[2016-09-14 07:40] domsj commented on #235
This isn't really an alba issue ... alba can't help that central config management is temporary unavailable. So can this issue be closed?
(Side note: the switch from etcd to arakoon doesn't solve the fundamental issue ... central config management might still be down. Fwiw for these kind of calls a slightly outdated config file could in many cases work just as well.)

[2016-09-14 10:00] wimpers commented on #235
Back to BAM

[2016-09-14 13:15] #235 closed

[2016-09-14 13:33] pploegaert opened #371 "Manifest cache does not get properly refreshed after maintenance agent action"
Observed during rora performance testing
@domsj: pls update with more clear description - thx

[2016-09-14 13:49] domsj commented on #371
Slightly longer explanation:
A proxy holds on to outdated manifests for too long after a maintenance agent moves fragments.
The proxy will only refresh the manifest when so many fragments have been moved that it can no longer rebuild the object from the fragments that are still reachable.
This results in degraded performance, because the proxy (and rora) can no longer do partial reads.
The proxy s

[2016-09-15 12:58] domsj opened #372 "Asd "too many open files" error on rocksdb .log (WAL) file is sticky and results in semi functionaly asd"
[code]

[code]

[code]

so if the asd runs out of file descriptors just when rocksdb tries to get another one the asd goes into a semi functional state, which it can't get out of.
It seemed like it could still serve read requests, but no longer new writes. (this statement based on output from the list-osds which I didn't capture)

We probably want to detect this situation so that we can either
- r

[2016-09-16 08:20] hofkensj commented on #208
@wimpers do we have an ETA on this one.  We need it for the Sberbank tests.

[2016-09-16 08:34] wimpers commented on #208
@hofkensj, @domsj is currently working on it. Expected ETA before end of next week (exact date will depend on the bugs popping up from the RORA tests). Basically the team is trying to release it asap.

[2016-09-16 10:38] hofkensj commented on #208
I assume this will be in Fargo right .. not unstable.

[2016-09-19 08:45] #371 closed

[2016-09-21 08:21] domsj commented on #208
Repair on read has been implemented for the partial read path, where the need was the most pressing.
This can also be done for the full object read path, but that could use some other optimisation too (now it always tries to fetch all fragments which isn't really needed).
So should we lower the priority of this ticket, or close it and create another one about optimising the (full) object read path

[2016-09-22 12:25] domsj opened #379 "File descriptor leak in proxy & maintenance when redis lru eviction has been configured but redis is not available"
This is due to a bug in ocaml-redis.
It has been fixed in https://github.com/0xffea/ocaml-redis/pull/35.
Code inspection also revealed another fd leak issue, fixed in https://github.com/0xffea/ocaml-redis/pull/37.
Both are as of yet unavailable in a released version. Not sure if we should wait for a new release, or just use latest version from master.

@aluuu any ETA on a new ocaml-redis release?

[2016-09-22 12:28] aluuu commented on #379
Hi,

Thanks for PR you've made. I'll ship new version as soon as possible due to these two major fixes.

[2016-09-22 12:35] domsj commented on #379
Ok, thanks @aluuu, looking forward to it.

[2016-09-22 12:54] aluuu commented on #379
New version is [almost in OPAM](https://github.com/ocaml/opam-repository/pull/7486).

[2016-09-23 07:44] domsj opened #380 "Race between proxy & maintenance temporarily disqualifies osds"
[code]

This is the result of the message delivery that is triggered by namespace creation. The errors aren't really a problem, but disqualifying the osds is bit too harsh for this case.

[2016-09-23 08:14] kinvaris commented on #314
awaiting for this fix: https://github.com/openvstorage/framework/issues/948

[2016-09-23 08:18] domsj opened #381 "Alba proxy & maintenance process should automatically pick up changed redis-lru config"
The current solution for lru eviction from the alba fragment cache allows specifying a redis instance to be used.
Only 1 ip can be specified. If the host goes down, they may want to configure another redis instance on another host to be used for the lru tracking.
This is possible, but afterwards they'll have to restart all related proxy & maintenance processes.
This ticket is about eliminating the

[2016-09-23 08:21] domsj opened #382 "Many (1000) threads in asd process"
Most have the following stacktrace:

[code]

Which seems to indicate a problem with lwt

[2016-09-25 14:55] kinvaris opened #384 "Client_helper.MasterLookupResult.Error(0) crashed albaproxy"
Related to: http://tickets.openvstorage.com/browse/OVSSUP-123

Incident on GIG environment during their testing, this error was occuring on a single albaproxy and apparently it crashed: (to bad I don't have any syslogs...)

[code]

[2016-09-25 14:56] kinvaris commented on #384
Other proxies did not got this problem at that time...

[2016-09-25 20:57] domsj commented on #384
What you see here is the following:
- proxy dies due to bug #314
- next upstart tries to restart the proxy (up to 10 times), but that fails because central config management is down. see my earlier remark about that: https://github.com/openvstorage/alba/issues/235#issuecomment-246931468 .

In this case the proxy could be started just fine with a (possibly slightly) outdated config file.

What is a

[2016-09-26 10:31] domsj commented on #384
Fwiw the maintenance agent running on stor-03 had the exact same problem

[2016-09-26 11:06] domsj commented on #379
fixed by #383

[2016-09-26 11:06] #379 closed

[2016-09-27 15:36] wimpers commented on #384
@domsj ,

It seems that it took between 1 to 2  minutes to elect a new master (based upon the logs).

`2016-09-25 15:54:48 802920 +0200 - stor-06.be-g8-4 - 20085/0 - arakoon - 2050056 - info - zdQD60YpyUdOkcyl is master
2016-09-25 15:55:48 883253 +0200 - stor-06.be-g8-4 - 20085/0 - arakoon - 2050494 - info - zdQD60YpyUdOkcyl is master
2016-09-25 15:57:18 736238 +0200 - stor-06.be-g8-4 - 20085/0 -

[2016-09-27 15:46] domsj commented on #384
No, I don't consider it normal for master election to take that long.
If you can point towards the env (or just full logs) I can have a look.
So then we would consider it an arakoon issue.
But we should also still consider what has to happen when the cluster temporarily has no master. I wouldn't consider 20 seconds master switch to be abnormal, and that won't be handled nicely either.
So my (so fa

[2016-09-27 16:11] wimpers commented on #372
@domsj  if you disagree with Gilbert please let me know!

[2016-09-28 07:24] wimpers commented on #384
@domsj check with @saelbrec  for the arakoon logs (stor-06.be-g8-4).

Retry a certain amount of times and if it can't connect, die.

I don't understand why you say this. If a master selection takes 20s, the proxy can't start for 20 and will start once the master is selected. Why do you state it won't be handled nicely? What I'm missing here?

[2016-09-29 13:54] domsj opened #389 "Partial read optimisation in case of replication"
We needlessly differentiate between the first fragment and any additional fragments (which are in fact exactly the same).
When the first fragment is unavailable we'll fall back to rebuilding the chunk (aka fetching another copy of the fragment entirely) while we could just do a partial read from another copy of the fragment.
With the repair on partial read path this situation will quickly be resol

[2016-10-03 08:19] wimpers commented on #353
@domsj isn't this completed yet? I believe Kenneth is looking to integrate the fencing?

[2016-10-03 08:25] domsj commented on #353
this has indeed been merged, closing

[2016-10-03 08:25] #353 closed

[2016-10-03 08:26] #217 closed

[2016-10-03 08:38] wimpers opened #391 "Encryption per namespace"

[2016-10-04 09:17] jeroenmaelbrancke opened #394 "Extend json output from show namespace"
Alba version: 0.9.20

I'm unable to find the preset_name in the json output from the show-namespace command.
Without parsing the output to json you can find the preset_name = "globalpreset".

Without parsing to json:
[code]

json output:
[code]

[2016-10-05 13:54] toolslive commented on #394
it's probably best to change the output of  `show-namespace` to align with the output from `show-namespaces`. Something like this:
[code]

[2016-10-05 16:00] toolslive commented on #394
There are several solutions:
- the above, which will break some OVS test code:
https://github.com/openvstorage/integrationtests/blob/master/ci/tests/backend/alba_test.py#L235-L236

this is done in this branch:
https://github.com/openvstorage/alba/tree/align_show_namespace(s)

the above might also break something for other users....

- adding the fields to the existing call, and do no alignment (wh

[2016-10-05 16:06] wimpers commented on #394
I would add the field and manage expectations of the existing users by letting them know this change is coming so they are aware.

[2016-10-05 16:08] domsj commented on #394
as argued on skype: I think we should go for one of the backwards compatible options.
(side note: in my book adding a field to a json object/dict is perfectly backwards compatible)

being lazy I would redirect users towards the show-namespaces call. that one they can even start using right away (it's available for quite some time already).

[2016-10-06 12:50] toolslive commented on #372
It's not always the same location, or the same error....
- (Failure;   "IO error: /home/romain/workspace/tmp/alba/asd/02/db/000010.sst: Too many open files")
- Rocks_common.OperationOnInvalidObject

are a few others I managed to reproduce.
It's better to avoid going there by reserving some file descriptors for internal use, and limiting the number of connections on both RDMA and TCP servers.

[2016-10-11 10:47] wimpers commented on #360
Removed SRP label as it is a corner case and not causing general performance issues.

[2016-10-12 08:21] domsj opened #399 "Saw multiple maintenance agents doing repair for same namespace"
While in theory this is not a problem (possible races are handled correctly), it does result in wasted resources, and in a temporary storage leak.
In the gui this temporary storage leak was shown as "Internal metadata".
After restarting the maintenance processes they behaved again as normal, and started cleaning up the garbage they created.

The issue was triggered after removing an asd.
From what

[2016-10-12 08:39] #362 closed

[2016-10-13 11:23] domsj commented on #345
see https://github.com/openvstorage/alba/pull/397

[2016-10-13 11:44] domsj commented on #338
to be fixed by https://github.com/openvstorage/alba/pull/397

[2016-10-13 12:45] domsj commented on #301
Just a clarification so that I can close #389: this should be done for full object reads and partial reads.
This probably isn't needed for the rora reads. Rora reads only make sense when the rora path reads from an alba (wether that is the main one, or a fragment cache in front of it) that is fully in the same datacenter.

[2016-10-13 12:45] domsj commented on #389
see issue #301

[2016-10-13 12:45] #389 closed

[2016-10-13 14:21] domsj commented on #399
Found a bug that should be able to explain this. It also explains https://github.com/openvstorage/alba/issues/350.
Now thinking about the best way to solve this

[2016-10-17 08:54] domsj commented on #394
closing as in my opinion there's nothing to be done here except waste time.
@jeroenmaelbrancke please use show-namespaces (possibly with arguments --first X --finc=true --last X)

[2016-10-17 08:54] #394 closed

[2016-10-17 08:56] domsj commented on #355
I don't think we've still seen this (@kinvaris please confirm/deny), so probably this was solved and can be closed?

[2016-10-17 09:06] #399 closed

[2016-10-17 12:17] #338 closed

[2016-10-17 12:17] #345 closed

[2016-10-17 13:28] #382 closed

[2016-10-17 14:37] jeroenmaelbrancke opened #403 "Extend get-disk-safety json output"
As discussed with @domsj.
Is it possible to extend the get-disk-safety on a backward compatible way with following information?

- add (updated) bucket lists including object count
- the amount of objects for the worst safety
- add a flag to simulate the disk safety with all the unavailable disks

[2016-10-17 14:55] domsj commented on #403
The unavailable disks mentioned by Jeroen are those that according to the albamgr osd stats
- haven't received reads/writes in the last 15 minutes or
- have errors more recent than latest reads/writes

Not sure what the name of the flag should be...

Another nice option would be `--node-id` (include all osds of this node as dead).

[2016-10-18 11:25] wimpers commented on #355
Moved to Gilbert as RORA related.

[2016-10-18 11:26] wimpers commented on #347
Moved to Gilbert as non SRP.

[2016-10-18 11:29] wimpers commented on #260
Moved to Gilbert as non SRP.

[2016-10-18 11:30] wimpers commented on #247
@toolslive @domsj @saelbrec  what should be done with this ticket? Is this still relevant or did we tackle this already? Please advice.

[2016-10-18 11:30] #245 closed

[2016-10-18 11:31] wimpers commented on #216
Moved to Gilbert as non SRP.

[2016-10-18 11:32] toolslive commented on #380
#404

[2016-10-18 11:32] #380 closed

[2016-10-18 15:02] jeroenmaelbrancke opened #406 "add to-json flag to show-job-progress"
Can you add the to-json flag to show-job-progress?

[code]

[2016-10-18 15:07] jeroenmaelbrancke opened #407 "Add call list-jobs"
Can you add a list-jobs command to Alba that returns all the job names?

[2016-10-19 08:16] JeffreyDevloo opened #410 "Set fragment size to 16MB by default instead of 1MB for default preset"
### Problem
The default preset its fragment size must be bumped up to 16MB: https://github.com/openvstorage/framework-alba-plugin/issues/237

During the verification of the ticket, I found that the preset for the default preset is 1MB instead of 16MB.
The default preset and its configuration is delivered by Alba and not by the framework.

### Possible solution
Bump the fragment size to 16 * 1024^2

[2016-10-19 09:11] domsj commented on #410
According to @wimpers comment https://github.com/openvstorage/framework-alba-plugin/issues/237#issuecomment-254750793 we shouldn't do anything here?
Personally I would prefer to just remove the default preset. We don't need this concept anyway...
People interpret it as some sort of recommendation, which it most certainly isn't!

(Also, regarding that other ticket: I don't understand why you didn't

[2016-10-19 19:47] #403 closed

[2016-10-20 08:25] JeffreyDevloo opened #413 "Claim osd looping and high cpu usage"
## Problem description
When I logged into my setup, I found that my root partition was completely full. The culprit was found in /var/log/upstart/alba-asd *.
One of the asd logging was full of:
[code]
Every node within my cluster had an identical issue but the asd-id was different each time.

After closer inspection I spotted the following:
[code]
The asd process is taking up alot of cpu.
The reas

[2016-10-20 09:22] domsj commented on #413
On the 3rd node cpu usage was still high, without any claim-osd in sight.
After restarting maintenance that load went away.
The failed asserts also point towards the garbage collection mechanism done by maintenance.
So currently it looks like 2 maintenance processes were racing to do this cleanup for the same osd_id, namespace_id combination.
In the next alba version we'll have some more logging r

[2016-10-20 11:55] wimpers commented on #407
@jeroenmaelbrancke which jobs are you talking about? How urgent is this? What is the use case for this call?

[2016-10-20 11:55] #410 closed

[2016-10-20 12:04] jeroenmaelbrancke commented on #407
if we manually run a job on alba we are not able to get a list of all the jobs that are running.
Each job that i should launch got a specific name, so if i could list all the jobs and filter the jobs starting with a specific prefix i could remove those jobs when finished.
Each Job (correct me if i'm wrong @domsj ) needs manually removed from the list.

@jtorreke will have a "little" chit chat with

[2016-10-20 12:11] wimpers commented on #407
Might be good in that case to update the status of the task with https://github.com/openvstorage/alba/issues/406

[2016-10-20 13:34] domsj commented on #413
The high cpu usage for claim-osd seems to be related to linking a local backend to a global backend.
Now investigating that.
So there's actually info about 2 different issues in this ticket, we'll probably want to split that up.

[2016-10-21 12:54] domsj commented on #413
Apparently @kinvaris had configured a fragment_size of 1 byte, which is as of #416 no longer allowed
(fragment size should be at least 16 bytes).
This fragment size caused an infinite loop when uploading an object.

[2016-10-23 15:20] saelbrec opened #418 "Faster disqualification of ASD's on failed node"
A failing node with lots of ASD's can depending on the number of nodes and policy yield into multiple connection timeouts/failures as each time only the ASD's selected for a specific upload are being disqualified. If a node failure could be detected and disqualify all the impacted disks at once it would lead to less failures and need for retries.

[2016-10-25 12:00] wimpers opened #423 "Counter for invalid checksums per ASD"
OPS proposes to add a counter for for invalid checksums which are encountered when doing a read from an ASD. The idea would be to keep a counter per ASD in the ABM so OPS/monitoring can query the ABM at regular intervals.

Also add an easy way for OPS to retrieve the counter of course (cli?).

Option to reset the counter per ASD isn't required.

[2016-10-25 12:11] khenderick commented on #407
@wimpers, these are internal alba tasks, launching them through the framework would not solve anything, since alba processes these asynchronously, so our task finishes immediately.

[2016-10-25 13:27] domsj commented on #319
I think we haven't seen this any more. We added some more logging related to this.
Can the issue be closed?

[2016-10-25 15:32] #413 closed

[2016-10-25 15:38] wimpers commented on #351
@domsj what is the effect of this one? Can we close it down as it hasn't popped up lately right?

[2016-10-25 15:41] wimpers commented on #323
@kinvaris , @domsj  @cnanakos  @redlicha  @toolslive Does this cause a hang of the volume?

[2016-10-25 15:41] wimpers commented on #319
Please re-open if it occurs again

[2016-10-25 15:42] wimpers commented on #314
@kinvaris as the Framework bug is fixed, can we close this one also?

[2016-10-25 15:45] wimpers commented on #312
@domsj  what do you want to to with this bug? Can we fix it in Fargo? Is there a workaround (disable repair?)

[2016-10-25 15:52] domsj commented on #351
The effect is a non functioning proxy. Indeed I think we can close this ticket

[2016-10-25 15:53] domsj commented on #323
I think it didn't cause a hang of the volume

[2016-10-25 15:53] #319 closed

[2016-10-25 16:01] domsj commented on #312
I'm not exactly sure yet where the bug is, so I can't immediately fix it. (Some more code inspection might bring something up though.)
I don't know why @JeffreyDevloo has seen this but why we haven't seen it elsewhere.
I suggest leaving it open for now, but remove the SRP label.
(If we should start seeing it again on other envs it probably makes sense to further investigate.)

[2016-10-26 07:14] wimpers commented on #312
Please add a higher priority if this would happen again.

[2016-10-26 07:16] wimpers commented on #323
Since it didn't hang the volume, removing SRP label.

[2016-10-26 07:16] wimpers commented on #351
Closing this issue. Please re-open if it would happen again.

[2016-10-26 07:16] #351 closed

[2016-10-26 08:02] kinvaris commented on #314
@wimpers: I just reopened the ticket and added a comment: https://github.com/openvstorage/framework/issues/948#issuecomment-256276574

[2016-10-26 12:26] #314 closed

[2016-10-26 12:44] wimpers commented on #423
@domsj @toolslive  how much work would this be?

[2016-10-27 08:06] domsj commented on #407
as discussed with @khenderick it would additionally be nice to have a `verify-namespaceS` call, possibly with some `--only-add-if-not-yet-verifying` flag
(and the flags `--namespace` & `--all-namespaces`)

[2016-10-27 08:43] toolslive commented on #302
The primary use case in mind is a slow link to one of the data centers.

[2016-10-27 08:57] domsj commented on #302
Yes, and the secondary use cases would be
- slow (deteriorating) disk (but just not slow enough)
- first failure of some osd

All can be nicely handled with the strategy discussed on the chat.

Actually this already helps for https://github.com/openvstorage/alba/issues/418 too (node goes down, takes some time to disqualify all osds) in case the disqualified node would still result in the same poli

[2016-10-27 09:13] wimpers commented on #302
Maybe you can share that strategy with the rest of the world also?

[2016-10-27 09:20] toolslive commented on #302
Basically it's this:
- wait until `min_fragment_count fragments` have been written (this takes `t`)
- wait for a small arbitrary period (fe `0.2t`) for the slowpokes to arrive
- build the manifest with what you have at that point for the manifest and continue
- if there are still outstanding writes that come in later, use those and update the manifest.

[2016-10-27 09:40] domsj commented on #302
We could also make the 0.2t configurable if desired.
Then you could e.g. have 0t in which case the upload has the lowest possible latency, or it could be 10000t in which case it would (probably) wait until the osd_timeout happens, or it could be some value chosen based on some testing for the specific environment.
(Making a good default choice for an arbitrary timeout is always hard...)

[2016-10-27 09:42] JeffreyDevloo opened #427 "alba proxy-upload can fail after creating new namespace on global backend"
#### Problem description

The health check used to create only a single namespace for continuous use for every alba proxy. This is bad design as the health check should leave no traces of running once it has tested the required assets.

After implementing the removal of the namespace after the proxy test, we found out that the alba proxy-upload can fail for global backends (the error did not occur

[2016-10-27 09:51] domsj commented on #427
The NamespaceDoesNotExist error is there because you tried to delete the object after already having deleted the namespace, so this one is expected.

[2016-10-28 08:10] domsj opened #429 "a full osd needlessly leads to repair activity by the maintenance process"
maintenance detects it can no longer write to the osd and thus considers the osd as 'bad' and tries to repair it

[2016-10-31 16:03] jeroenmaelbrancke commented on #350
@wimpers The healthcheck would be a nice place for this check.
@JeffreyDevloo @kinvaris can someone implement this check?

[2016-10-31 16:06] openvstorage-ci commented on #350
This issue was moved to openvstorage/openvstorage-health-check#127

[2016-10-31 16:06] #350 closed

[2016-10-31 16:07] wimpers commented on #350
@domsj  I assumed nothing is left for you to do so closed it.

[2016-11-03 08:45] domsj opened #433 "Rora reads from fragment cache: lru tracking using redis"
When doing partial reads from an alba fragment cache for each read/write the lru tracking in redis should be updated.
When using the ocaml code path this is the case, when using the rora (c++) path (which only does reads) the lru tracking isn't updated.
So in practice when using rora the cache eviction strategy will probably be something closer to fifo than lru.

[2016-11-03 10:06] domsj commented on #303
fixed by #419

[2016-11-03 10:06] #303 closed

[2016-11-04 12:00] domsj opened #437 "Investigate behaviour of maintenance process in case there are unavailable/broken objects"
We want to make sure that maintenance does not start spinning, it can retry once every minute or so though...
If the namespace is used as a cache: maybe delete the object?

[2016-11-07 13:37] wimpers commented on #437
Do you have a specific test case in mind? is this something QA needs to pickup or just a stub for yourself.

[2016-11-07 14:10] wimpers commented on #427
@JeffreyDevloo can you try to reproduce and give us some more insight in why the Alba_client_errors.Error.NoSatisfiablePolicy fail?

[2016-11-07 14:28] domsj commented on #437
shut down a few too many asds, see what maintenance does
purge a few osds (so many that the gui asks to confirm you're willing to accept dataloss), see what maintenance does

(need to wait at least 1 minute for the reaction from maintenance)

we can do this ourselves or QA could do it
(I was thinking of doing it myself one of these days)

not sure yet if I can/want to make this an automatic test

[2016-11-08 16:34] wimpers commented on #429
@domsj while working on this one it might be good to implement [Alba osd: provide an implementation for its disk usage](https://github.com/openvstorage/alba/issues/233 )

[2016-11-08 16:50] wimpers commented on #294
@pploegaert @domsj  ok if we close this one as we haven't had complaints anymore

[2016-11-09 08:12] domsj commented on #294
We have indeed not had any more complaints, because the changes in #286 enabled using tcp for those calls while still being able to configure rdma for the rora path.
(If we want to use rdma everywhere the problem will probably still show up though...)
Anyway definitely OK to close for me.

[2016-11-09 08:13] #294 closed

[2016-11-09 08:24] wimpers commented on #294
Re-open if needed.

[2016-11-09 10:13] JeffreyDevloo opened #441 "get-disk-safety --include-errored-as-dead returns weird results"
### Problem description
We were executing the following sequence to test get-disk-safety:
- Execute get-disk-safety
- Remove disks
- Execute get-disk-safety

After the removal of the disks we found:
[code]
and even later it got worse to -5 (but a get-disk-safety in between showed no errors):
[code]

We suspect that the culprit is that the timestamp is not updated by the maintenance agent.
The time

[2016-11-09 15:15] wimpers commented on #301
Only required for global backends.

[2016-11-09 15:18] wimpers opened #442 "Eviction queue per namespace"
Eviction queue per namespace

[2016-11-09 15:33] wimpers opened #443 "Single process on ASD host for HPRM for incoming reads"
Single process on ASD host for HPRM for incoming reads

[2016-11-10 16:12] domsj opened #446 "Max fragments per node constraint violated"
@jeroenmaelbrancke claims to have seen the following on some env:
(5,4,8,3) policy, but somehow some objects were in a (5,4,9,4) bucket.
It's still unclear how this happened.
Some time later the maintenance process fixed this.
This could've been prevented by the check discussed in https://github.com/openvstorage/alba/issues/307.

[2016-11-11 10:13] domsj opened #447 "Rora support for CTR mode encryption"
https://github.com/openvstorage/alba/pull/444 introduces CTR mode for encryption, which is compatible with partial reads. The rora path could/should have support for this too (currently it will/should do reads through the proxy as a fallback).

[2016-11-14 10:42] wimpers commented on #307
After discussion with @domsj  and @toolslive  moved to RC2

[2016-11-14 12:42] JeffreyDevloo commented on #427
There has been logging improvement. Will reproduce and provide additional logging.

[2016-11-14 16:57] saelbrec commented on #269
From the FWK point of view this isn't used anymore for Alba ASD's, but what in case of Kinetic, @toolslive ? This will have to be re-introduced?

[2016-11-14 17:40] toolslive commented on #269
For Kinetic, this isn't an issue as you'll always have the hardware to connect to the drive you've discovered: It's always ethernet.
A possible solution is that a component (proxy/maintenance) could be given the extra information that it has rdma capable hardware at startup time (configuration/flag) and use that information before trying to connect to rdma based ASDs.

[2016-11-15 08:50] domsj commented on #269
If I understand correctly no further solution is needed (for how deployments are currently done by the framework).
Asds and Kinetics are both only configured to NOT use rdma, so all proxies/maintenance should be able to connect to any asd/kinetic.

[2016-11-15 09:14] toolslive commented on #269
Indeed.

[2016-11-15 14:18] domsj commented on #209
Saw this again on @dejonghb's env

[2016-11-15 14:39] domsj opened #449 "Proxy client connections hanging"
[code]

[code]

Eventually so many client threads are hanging that the proxy starts refusing new connections from the voldrv.

This proxy was using about 1.1GB of memory at the time.

Work around: restart proxy from time to time (perhaps when detecting that log message in the proxy log file?)

[2016-11-16 10:20] #449 closed

[2016-11-21 14:39] #269 closed

[2016-11-22 12:45] wimpers commented on #427
@JeffreyDevloo are you currently working on this one? This is in_progress for 8 days already. If you are not working on it please  remove the in_progress label and unassign yourself.

[2016-11-22 12:49] JeffreyDevloo commented on #427
I thought @domsj assigned himself to verifying the issue.
Although we worked in collaboration to find what really went wrong.

[2016-11-22 13:20] toolslive commented on #301
#457

[2016-11-23 10:03] domsj commented on #312
It happened again on a @JeffreyDevloo env, not sure what he's doing wrong ;-)

[2016-11-23 10:19] JeffreyDevloo commented on #312
### Problem description
The maintenance process is hoarding the CPU for his own.
[code]

### Setup
- 3 node setup
- disklayout is the following (identical for every node)
![selection_073](https://cloud.githubusercontent.com/assets/17570109/20557840/7ff125d0-b16d-11e6-807b-5ec6fa498bae.png)
- Backend
![selection_074](https://cloud.githubusercontent.com/assets/17570109/20557856/90659202-b16d-11e6-9a

[2016-11-23 14:30] wimpers commented on #354
@domsj any chance we tackled this while adding the alba ctr mode encryption?

[2016-11-23 14:36] domsj commented on #354
no this was not tackled while working on the ctr mode encryption.
do note that ctr mode encryption has not yet been merged/finished, I was waiting for https://github.com/openvstorage/alba/pull/439 to land first as I wanted to use some of the new code on that branch in the ctr branch...

[2016-11-24 08:29] toolslive commented on #429
for the bug: #458

[2016-11-24 09:31] #429 closed

[2016-11-24 09:49] domsj commented on #312
It's still unclear why this happened. Added some more logging that should be available in the next version

[2016-11-24 12:46] wimpers commented on #437
please investigate

[2016-11-25 10:54] domsj opened #461 "Proxy client connections hanging"
This happened on @dejonghb's env

Setup: accelerated backend

Around 10:04 the node hosting (half of the) asds of the fragment cache backend went down.

In the log of the proxy of the main backend we then see this:

[code]

and a bit later it turns in to

[code]

There are a lot of open fds for deleted files:

[code]

this indicates hanging client threads.
Probably caused by those asds becoming un

[2016-11-25 15:45] khenderick opened #462 "A large amount of loglines is generated by alba (asd and maintenance)"
As seen in openvstorage/openvstorage-monitoring/issues/99, some services have quite some logging output. I noticed on a barely used test environment that below logging occurs a lot. Is this logging required/usefull and/or can it be reduced?

[code]

[2016-11-28 13:49] #301 closed

[2016-11-28 13:56] toolslive commented on #423
See #463 . The counter was put inside the `osd_info` so you get it whenever you do something like
[code]

[2016-11-28 14:59] #423 closed

[2016-11-28 15:54] JeffreyDevloo opened #464 "Exit status 0 for commands on error"
### Problem description
Some alba commands return exit status 0 when they error

I found the issue with these commands:
- alba proxy-create-namespace
- alba proxy-upload-object
- alba download-object

### Proposed fix
Return exit status 1 or higher (appropriate to the error level) when alba commands error.
### Alba package
alba                                 1.1.0                   amd64

[2016-11-29 17:12] toolslive commented on #464
#466

[2016-11-30 08:01] #464 closed

[2016-11-30 08:33] matthiasdeblock opened #468 "Errors getting logged as info"
After some research on a slow environment at GIG I found out that there are some errors that got logged as INFO instead of ERROR.

[code]

[2016-11-30 08:40] matthiasdeblock commented on #468
@jeroenmaelbrancke : can you post your findings as well?

[2016-11-30 08:42] jeroenmaelbrancke commented on #468
ASD logging:
[code]

ASD manager logging:
[code]

[2016-11-30 09:02] jeroenmaelbrancke opened #469 "ASD down due to filesystem error"
**Description**:
The ASD is down and it fails to start because of a filesystem error.
After remounting the disk the asd was back online.
Ran a short smartctl test on the disk and the disk passed the test.

Maybe Alba fsyncing too much to the disk, can we disable this and let the kernel do the sync?

Can you reproduce this issue and verify this with(out) fsync enable?

**Distribution version**:
[co

[2016-11-30 09:35] toolslive commented on #469
* _Maybe Alba fsyncing too much to the disk, can we disable this and let the kernel do the sync?_
No, and No: fsync is the way you let the kernel know this file
needs its state synchronized with the device. We need to know this happeed before we can acknowledge the write (of a fragment)

* is
[code]
the first XFS complaint you see in `dmesg` ?

[2016-11-30 09:48] toolslive commented on #469
kernel version?

[2016-11-30 10:14] JeffreyDevloo commented on #441
Some more details:

[code]
list osds
[code]

![selection_077](https://cloud.githubusercontent.com/assets/17570109/20748279/d2d35450-b6ed-11e6-93a5-99796e8c4c88.png)

[2016-11-30 10:46] jeroenmaelbrancke commented on #469
kernel version:
[code]

first xfs error:
[code]

[2016-11-30 10:59] domsj commented on #441
I think this issue and https://github.com/openvstorage/alba/issues/312 are related.
Both show that osd read/write is insufficiently updated ... maintenance should periodically put load on the asds, which should then be reflected in the list-osds output.
Something goes wrong in that flow and results in these 2 tickets.

[2016-11-30 13:04] toolslive commented on #469
dmesg misses its head, so there might be (and probably were) errors before `xfs_log_force:error -5`
Since *Alba did the right thing (TM)* this ticket should probably be closed and continued elsewhere ?

[2016-11-30 13:15] domsj commented on #469
A 4.4.0 kernel ... in the long term 4.4.x series they are now up to 4.4.35, and looking at the changelogs (https://cdn.kernel.org/pub/linux/kernel/v4.x/) I see quite a few mentioning xfs. So maybe all it takes to make this problem go away is trying a newer kernel?

[2016-11-30 13:26] wimpers commented on #427
@domsj  what should happen with this ticket? Close?

[2016-11-30 13:38] wimpers commented on #462
Are these messages of the correct level? This seems to be debug info?

[2016-11-30 13:58] domsj commented on #469
`
The Raw_Read_Error_Rate flage with 182264924 is not correct. If this flag is failing the Current_Pending_Sector and Offline_Uncorrectable should not be 0.
`

During discussion with @dejonghb he pointed out that
[code]

This indicates that it's very likely that this is a problem with the hardware.
Also according to @jeroenmaelbrancke they only have this issue with 1 disk on 1 node of the setup.

[2016-11-30 13:58] #469 closed

[2016-11-30 14:08] wimpers commented on #468
Please also validate if the log level is correct.

[2016-11-30 14:10] wimpers commented on #468
@khenderick can you also check this ticket as that last one might be an issue with logging on the alba manager.

[2016-11-30 14:29] toolslive commented on #469
https://cdn.kernel.org/pub/linux/kernel/v4.x/ChangeLog-4.4.13
https://cdn.kernel.org/pub/linux/kernel/v4.x/ChangeLog-4.4.27
https://cdn.kernel.org/pub/linux/kernel/v4.x/ChangeLog-4.4.7
for example.

[2016-11-30 14:34] toolslive commented on #462
reading 1MB in 9 steps typically points to some network (configuration) problem. Alba might be a bit trigger happy though.

[2016-11-30 15:11] wimpers commented on #462
Should ALBA raise an error after x steps?

[2016-11-30 15:20] wimpers commented on #312
@domsj what needs to happen with this ticket? It is in status In Progress but no one is working on it/assigned to it?

[2016-12-01 08:00] toolslive commented on #462
No but if you need X system calls to get your data, your performance will be sub awesome. You can often see this as a prelude to timeouts.

[2016-12-01 08:21] wimpers commented on #462
Would putting a warning in the logs makes sense? In that case it gets at least picked up if you are not running in debug mode?

[2016-12-01 09:24] saelbrec commented on #462
Suppose this points towards a network problem. How do we explain than that for an ASD it takes 2 or 3 steps to read the same amount of data where the maintenance requires 9?
On the one hand it is good to see these on the other hand we could also think to configure a different 'default' log level.
What are the possible log levels in alba?
And suppose we do so, I think https://github.com/openvstorag

[2016-12-01 09:51] toolslive commented on #462
* log levels: debug, info, notice, warning, error, fatal
* good question about difference between ASD & maintenance.
  don't they run on different nodes? There's also a difference in strategy the other side uses
  (write versus sendfile)

[2016-12-01 10:07] toolslive commented on #462
so we lowered the expectations, and log with `warning` if reality fails them.

[2016-12-01 15:40] wimpers commented on #461
@redlicha could you see what can be done on the voldrv/edge level to see if the voldrv/edge can try other options (like getting IO from the HDD backend.

[2016-12-01 15:43] wimpers commented on #461
@jeroenmaelbrancke can we a check for  "too many client connections " on the monitoring side. Please create a ticket please on the correct repo

[2016-12-02 12:23] kinvaris opened #473 "All alba commands should have the `--to-json` option"
There are some alba commands who are missing the `--to-json` option. As per discussion with @khenderick apparently it has been decided that `--to-json` must always be available. As seen in the code: https://github.com/openvstorage/framework-alba-plugin/blob/master/ovs/extensions/plugins/albacli.py#L76

The following alba commands do not have a `--to-json` option.

[code]

[2016-12-02 14:37] toolslive commented on #473
The following commands received a --to-json option:
- asd-set
- asd-get-version
- asd-delete
- proxy-upload-object
- proxy-download-object
- proxy-delete-object
- proxy-create-namespace

[2016-12-05 09:38] matthiasdeblock commented on #384
Had the same issue with the maintenance agent as well on a GIG env.

[code]

[2016-12-05 09:47] wimpers commented on #384
Back to BAM

[2016-12-05 10:09] #473 closed

[2016-12-05 14:04] dejonghb opened #476 "Unix.Unix_error \"Bad address\" read \"\" in asd errors"
[code]

According to @domsj this is unexpected/fishy

[2016-12-05 14:31] dejonghb commented on #437
accidentally investigated this on my env.
had dataloss due to removal of too many disks, and saw 3500+ gets/s on the asds. maintenance was consuming 100%+ cpu.
after removing the namespaces which had dataloss (and restarting maintenance) the activity stopped.

[2016-12-05 16:33] JeffreyDevloo opened #477 "More alba commands with missing --to-json"
### Problem description
The following alba commands that the healthcheck uses do not have their own --to-json option:
- alba asd-multi-get
- alba download-object

There are most likely more commands missing this option, however we do not use them.

[2016-12-05 17:42] #302 closed

[2016-12-06 09:18] domsj commented on #427
I will further look into it later on

[2016-12-06 09:33] domsj commented on #437
additionally we noticed that purging osds were not yet fully removed
(nsm_client # update_manifest failed with Insufficient_fragments ... because the nsm won't tolerate dataloss)

[2016-12-06 10:31] domsj opened #478 "osd message delivery too far off"
saw this on @dejonghb's env. some osds kept on being disqualified due to this, and message delivery towards them got stuck

[2016-12-06 15:26] domsj commented on #478
possible workaround when seeing this on an env: remove the asd, add another asd on the same disk.
(this does trigger some repair, so not really optimal...)

[2016-12-06 15:42] #478 closed

[2016-12-06 21:12] #477 closed

[2016-12-07 08:43] pploegaert commented on #384
Related to: http://tickets.openvstorage.com/browse/OVSSUP-124

[2016-12-07 10:05] toolslive commented on #384
In this case, the component refuses to start. Which is perfectly acceptable.

[2016-12-07 10:05] #384 closed

[2016-12-07 14:13] domsj opened #487 "proxy apply_sequence doesn't update manifest cache"
So after an overwrite of an object the old manifest may be used for inconsistent reads, resulting in wrong data being returned to the client.

Actually all code in Alba_client_upload.store_manifest is skipped in this code path.
This means that besides not updating the manifest cache we're also not cleaning up gc tags & not doing the lazy writeout epilogue.
(Luckily those last 2 aren't needed for c

[2016-12-08 10:03] domsj commented on #487
fixed by #488

[2016-12-08 10:03] #487 closed

[2016-12-08 15:08] JeffreyDevloo opened #492 "More data on backend after repair"
### Problem description
When the maintenance kicks in to repair the lost objects for the backend, the used space keeps increasing.

In my case I have a vdisk with 1.36GB of data.
I have purged asds one by one and waited on repair tasks to avoid data loss.
Ultimately my backend usage went up from 2.2GB to 6GB
![selection_093](https://cloud.githubusercontent.com/assets/17570109/21014903/08b22dee-bd6

[2016-12-08 15:13] JeffreyDevloo opened #493 "No possible method to detect how many bytes/objects need to be fully repaired"
### Problem description
With the current implementation, we are unable to determine how many objects should be repaired.
This is because the 'applicable_dead_osds', the value to keep in mind when asds are unreachable, is providing us a pessimistic overview of lost objects.
This value is set for every bucket, making it unable to determine how many objects should be repaired.

For instance:
In this

[2016-12-08 15:34] domsj commented on #492
Do you see this too when auto repair is disabled?

[2016-12-09 08:46] JeffreyDevloo commented on #492
When the autorepair was disabled I did not have this issue.

[2016-12-09 08:52] domsj commented on #492
In that case closing it as duplicate of https://github.com/openvstorage/alba/issues/312

[2016-12-09 08:52] #492 closed

[2016-12-12 13:16] wimpers commented on #493
Since we can't reliable see how many data needs to repaired, this is considered an SRP.

[2016-12-12 13:49] wimpers commented on #476
What are the consequences of these errors?

[2016-12-12 14:01] toolslive commented on #476
It will most probably cause disqualification of the ASD.

[2016-12-12 16:00] toolslive opened #496 "C++ client apply_sequence fails with "unknown encryption scheme""
the response message contains a manifest. That manifest contains encrypt_info, and there's only a NoEncryption subclass, so the client cannot deserialize the message.

[2016-12-13 08:00] pploegaert commented on #468
alba/maintenance component
[code]

[2016-12-13 11:03] toolslive opened #497 "make osd timeout configurable in case of osd kind 'Alba'"

[2016-12-14 09:15] openvstorage-ci opened #499 "ALBA_LWT_ENGINE not set for command line alba calls"
_From @openvstorage-ci on December 14, 2016 8:29_

_From @toolslive on December 13, 2016 10:31_

so alba reverts to the default, which is `rselect`. This sometimes hangs, as we observed with `asd-multistatistics` on a rather largish environment (200+ ads)

_Copied from original issue: openvstorage/framework#1264_

_Copied from original issue: openvstorage/framework-alba-plugin#306_

[2016-12-14 09:37] domsj commented on #499
fixed by https://github.com/openvstorage/alba/pull/498

[2016-12-14 09:37] #499 closed

[2016-12-14 09:45] domsj opened #500 "fix rdma support"
https://github.com/openvstorage/alba/pull/498 changed the default lwt engine to libev.
For rdma environments users will want to override this lwt engine by setting the ALBA_LWT_ENGINE env variable to rselect.
However, there is still an issue in that case: the process will not be able to handle more than 1024 file descriptors.
(Also commands such as asd-multistatistics will currently be really slow

[2016-12-14 18:39] #497 closed

[2016-12-15 08:20] wimpers commented on #497
@toolslive @khenderick I believe something should be done on the framework side also to use this?

[2016-12-15 14:34] domsj commented on #462
Closing as I think @toolslive previous change is probably enough.
Please create a new issue in case there are still problems...

[2016-12-15 14:34] #462 closed

[2016-12-16 11:20] dejonghb opened #508 "alba proxy dumping core after SEGV"
[code]

[code]
 (no dumps on the other nodes)

[code]

[2016-12-16 11:21] dejonghb commented on #508
[code]

[2016-12-16 12:36] domsj commented on #446
fixed by #486

[2016-12-16 12:36] #446 closed

[2016-12-16 12:36] domsj commented on #307
fixed by #486

[2016-12-16 12:36] #307 closed

[2016-12-19 13:33] domsj commented on #468
Some improvements were made in 1.3.0. If you want to see something else changed please open a new ticket.
Do note that `Dec 13 08:58:04 cap-stras-08 alba[31184]: 2016-12-13 08:58:04 683019 +0100 - cap-stras-08 - 31184/0 - alba/maintenance - 36821027 - info - Too many nodes down while connecting to nsm_host "global-nsm_0", this may or may not be related to an update of the nsm host config: clearing

[2016-12-19 13:33] #468 closed

[2016-12-20 09:26] wimpers opened #516 "Remove k <= c restriction"
Remove the restriction k <= c  for policies in an ALBA backend.

[2016-12-21 08:13] toolslive opened #523 "not all ASDs used."
we saw on an environment with 80 ASDs that after the first 1000 object writes,
only 40 ASDs were used.
Moreover, all of the writes had their first fragment on one of 4 ASDs.

[2016-12-21 13:23] #523 closed

[2016-12-21 20:39] domsj commented on #496
fixed in https://github.com/openvstorage/alba/pull/511

[2016-12-21 20:39] #496 closed

[2016-12-22 09:09] dejonghb opened #528 "Going down after unexpected exception in proxy process: Stack overflow"
[code]

[code]

The proxy was started at:
[code]

[2016-12-22 12:47] domsj opened #529 "lazy writeout leads to unnecessary repair load"
While the last fragments for an object are still being written, but after the manifest was already stored in the nsm, an object may be picked up by maintenance (repair_by_policy/bucket) for repair.

This repair is (most of the time) not needed and thus a waste of resources.

repair_by_policy should skip objects with version=0 that have been written during e.g. the last minute.
(Do note that we don

[2016-12-22 13:14] saelbrec commented on #516
In case maintenance would have to repair a missing data fragment after a proxy failed, a policy where c < k would lead to dataloss. This might be acceptable for an alba backend being used as fragment cache but for sure not advisable for any others.

What do we actually want to achieve with this 'enhancement' ?

[2016-12-23 09:23] pploegaert opened #531 "Noticed slow response on nightly build environment"
End: 10.100.190.31 -> 33 nightly build environment
System is slow to respond
Alba 1.3.1
Ubuntu 14.04.5 LTS

Possible scaling issue:

Current configuration of 8 proxies / voldrv leads to:

1 proxy has 10 connections to each asd: 1 * 10 * 3 = 30
8 proxies / voldrv = 8 * 30 = 240
3 node setup: 3 * 240 ? - to be confirmed

240 is very close to:
[code]

As a next step we will/might use 4 voldrv / vpool

[2016-12-26 13:38] domsj commented on #437
fixed by #532

[2016-12-26 13:38] #437 closed

[2016-12-26 13:38] domsj commented on #529
fixed by #532

[2016-12-26 13:38] #529 closed

[2016-12-26 13:42] domsj commented on #508
[code]

[2016-12-26 14:33] domsj commented on #233
the same applies for 'proxy osd'

[2016-12-26 14:49] domsj commented on #493
What is expected here?

Alba doesn't know exactly (quickly/cheaply) how much data needs to be repaired.

What alba knows is this:
- how much data resides on a specific osd (which may need repairing)
- how many objects are in each bucket

What alba doesn't know (quickly/cheaply) is:
- how many objects of a certain bucket have fragments on a specific osd
- how many objects have fragments on 2 specif

[2016-12-27 09:00] wimpers commented on #493
What is expected:

[code]

Where `stored_count` is the amount of fragments which are stored safely on the disks (exclude fragments on disks dead osds) and where `missing_count` is the amount of fragments which need repair.

Is it not possible to do this based upon the repair jobs?  This could give us the nr of missing fragments.
We know what is on each disks so if a disk breaks it should be easy t

[2016-12-27 12:29] redlicha opened #535 "Use Unix socket for proxy client <-> proxy IPC"
Currently a TCP socket over loopback or another local interface is used. This requires that requests / responses have to traverse the TCP/IP stack and that recv completions are handled in softirq context. Unix sockets allow to avoid that, which shows better performance / less CPU consumption in microbenchmarks [1].

Using the "abstract namespace" feature offered by Linux, Unix sockets can be used

[2016-12-29 14:03] domsj commented on #461
Seen again on the env of @dejonghb

In the lsof output we saw that all the fds were followed by 'w', this indicates the file was (only) opened for writing.
This means that something is hanging in the full object download path.

[2016-12-30 08:16] dejonghb opened #537 "Failure "can't happen" exception"
Found 12 messages as this little gem in the logs:
[code]
The proxy was running in debug mode and 7 of these are on debug level, 5 on info.

[2016-12-30 09:50] domsj commented on #537
On the same env we also saw https://github.com/openvstorage/alba/issues/209 .
This issue is probably caused by the other issue.
(The logic in choose.ml doesn't like negative fill rates...)

[2016-12-30 15:46] JeffreyDevloo opened #538 "Partial-strings of alba commands are executed as the full command"
### Problem description
The CLI parser of Alba corrects typos and such but it does not expect the full commando.

This can be seen here:
[code]
I typed in list-preset and list-presets got interpreted.

[2017-01-02 08:10] toolslive commented on #538
It's `cmdliner` that's doing this. I'm curious though: how/where is this causing problems?

[2017-01-02 13:45] #537 closed

[2017-01-02 14:02] toolslive commented on #493
Alba knows _which_ objects have fragments on a certain OSD. If that OSD dies, this index is used to repair these objects. At that point, it just has a (huge) list of object identifiers. It doesn't know how large that list is, and it doesn't know how much data is involved (as the fragments may have different sizes)

[2017-01-03 16:35] jeroenmaelbrancke opened #543 "add timestamp to list-osds when osd is added to a backend"
We are monitoring the osd usage and check if the osds are between 1 or 2% from each other.
https://github.com/openvstorage/openvstorage-monitoring/issues/109

We could ignore a new osd for couple of hours (just for catching up) if you are able to provide me a timestamp when the osd is added to the backend.

Is this possible to add the timestamp to the list-osds call?

[2017-01-04 08:36] domsj opened #545 "Rora alternative"
Use a c++ asd client to replace the current libxio/gobjfs based path which still has some unfixed issue.

[2017-01-04 08:41] wimpers commented on #545
@redlicha @khenderick  can you create the necessary integration tickets for your team to tackle this one  (if needed)

[2017-01-05 08:37] jeroenmaelbrancke opened #547 "used space not correct in list-osds"
The output from list-osds (used size) is not the same as the space the OS is reported.

Configuration:
1 asd per disk
removed one asd yesterday and added the same asd back to the backend.

output from list-osds: long_id, used space, total space and percentage
[code]

list asd ids on one server:
[code]

diskspace usage on OS:
[code]
for example:
[code]
used space with list_osds = 0.0
used space OS

[2017-01-05 09:18] domsj commented on #547
looks like it could be related to / the same issue as #312 & #441

[2017-01-05 14:58] kinvaris opened #549 "Decommissioning a broken backend takes too long"
We've got cluster A & B. In this situation cluster A is connected with cluster B through a global backend and external local backend (and 2,1,2,1 preset).
We saw that cluster B was broken. We unlinked the external local backend from the global backend. But after listing the osds on the global backend, after an hour we still saw the backend in decommissioned mode on the global proxies.

I investiga

[2017-01-05 14:59] kinvaris commented on #549
The alba version on functional cluster A is 1.3.0, @domsj asked me to upgrade it to 1.3.2 (https://github.com/openvstorage/alba/releases/tag/1.3.2)

[2017-01-05 15:07] kinvaris opened #550 "Local backend is disqualified because one namespace has broken fragments"
We saw the following error in a proxy on the OVH setup on a global proxy:
[code]

OSD 1 is in this case a local backend and is disqualified because 1 namespace did not find enough fragments. This is maybe too painful for all other namespaces, because of the following example:

In this example we have 3 local backends with a policy of 2,1,2,1.
We have namespace A and this namespace is stored on all

[2017-01-05 15:11] wimpers opened #551 "Support for redis clusters in Ocaml client"
Based upon a discussion in https://github.com/openvstorage/framework/issues/1119 this ticket is created.
The ocaml redis client currently has no support for that, so this ticket is created for having that supported.

[2017-01-05 16:54] kinvaris commented on #549
After updating from alba 1.3.0 to 1.3.1 the decommissioned alba backend is gone and the proxy does not try to connect anymore to the old backend.

To try to reproduce this issue with alba 1.3.1 I will recreate the situation with the current OVH setup, shutdown 1 backend and remove it.

[2017-01-05 17:06] kinvaris opened #552 "failure in epilogue: Nsm_model.Err.Nsm_exn(7, "")"
Scouring the log files I've seen the following error occuring on a system with practically no load:
[code]

After talking with @domsj, this is seen when the lazy writeout fails or the maintenance is faster than the lazy writeout.

[2017-01-05 17:31] toolslive commented on #552
alba version ?

[2017-01-10 10:27] domsj commented on #545
fixed by #544

[2017-01-10 10:27] #545 closed

[2017-01-10 12:18] domsj opened #560 "Rora segfaults when enabled in combination with a global backend"
[code]

[code]

[2017-01-10 14:12] wimpers commented on #552
please check question @kinvaris

[2017-01-10 15:55] domsj commented on #560
fixed by #561

[2017-01-10 15:55] #560 closed

[2017-01-10 16:08] kinvaris commented on #552
That was observed in alba version 1.3.1

[2017-01-10 16:20] domsj commented on #552
In alba 1.3.1 the original explanation I gave is probably what happened. As part of https://github.com/openvstorage/alba/pull/532 (which is present 1.3.2 and higher) maintenance will hold of for a minute before it starts repairing recently written objects, so you should then not see this anymore.

[2017-01-10 16:20] #552 closed

[2017-01-10 16:49] kinvaris commented on #550
@wimpers this is not of type enhancement, this is of type bug because this can cripple your setup in an instant

[2017-01-10 17:10] domsj commented on #550
Some remarks:
- a disk breaking on a local backend shouldn't immediately result in `NotEnoughFragments` ... usually there's some redundancy on the local backends too.
- disqualifying of an osd in the proxy only results in us not using it for new uploads, downloads will still happily try to use it
- you added the type_enhancement label yourself ;-)

So it's not that bad, but nonetheless I'll have a

[2017-01-11 08:11] toolslive commented on #493
_on SCO basis_?

[2017-01-11 08:51] wimpers commented on #493
`stored_count`: the amount of SCOs stored in the namespace
 `missing_count`: The amount of SCOs which have 1 or more fragments missing:

on SCO basis means that you provide per namespace how much SCOs are stored ok and how many not ok so OPS has an idea of in which a good/bad shape the namespace is.

[2017-01-11 10:25] wimpers opened #564 "Allow to set an alba fragment cache size limitation per vPool"
Currently an alba fragment cache is shared between all vPool that are configured to use that SSD backend. As each vPool is a different customer  it would be good to limit the amount of space (in %) the vPool can consume in the fragment cache. This size limitation should be dynamically updateable so you don't have to restart the proxy in case new SSD are added to the backend.

[2017-01-11 14:59] domsj opened #567 "Keep original timestamp in manifest on object rewrite by maintenance process"

[2017-01-11 15:53] #567 closed

[2017-01-12 09:21] JeffreyDevloo opened #571 "Bad storage load distributions in asymmetrical setup"
### Problem description
ASD load seems to balanced around nodes instead of asds
Asymmetrical setups are filling up the asds on nodes with the least amount of asds first.

Screenshots:
![screenshot from 2017-01-12 10-07-41](https://cloud.githubusercontent.com/assets/17570109/21883701/a681c028-d8b0-11e6-8189-af4f73a4ad91.png)
![screenshot from 2017-01-12 10-07-45](https://cloud.githubusercontent.com

[2017-01-12 11:58] toolslive commented on #571
what is the dominant preset for namespaces ?

[2017-01-12 13:01] toolslive commented on #571
The algorithm that picks the osds for a new object does this repeatedly:
- amongst the least chosen nodes (for this object) it picks randomly, biased.
- amongst the least chosen osds (for this object, within the chosen node) it picks randomly, biased.

Suppose, you need 9   fragments, then the result will always have picked the 3 nodes 3 times. The weights don't play on node level at all.
Suppose,

[2017-01-13 08:55] wimpers commented on #407
Functionally ready but might cause an arakoon cluster to go down during the upgrade path.

[2017-01-16 10:45] wimpers commented on #516
After discussion with stakeholders: don't remove the restriction.

[2017-01-16 12:58] #516 closed

[2017-01-16 13:50] wimpers commented on #549
PLease reprode with latest alba

[2017-01-17 10:39] kinvaris opened #573 "ASD fails when disk is full"
When a error occurs on a certain disk with `No Space Left On Device` we've observed on our test environments that the ASD just shuts down.

This could cause problems because you cannot read nor delete (to make some space) anymore from the disk.

A possible solution could be: introduce a small piece of disk space where the ASD has control over and where no data is stored. e.g. the disk can max. get

[2017-01-17 10:57] toolslive commented on #573
by default, the ASD should no longer allow writes when it's `Full` which is
when it reaches `capacity * (limit / 100.0)`. Default value `limit = 99`
You can however still perform reads and deletes.
If it reaches `ENOSPC`, It's too late and it shuts down, as not even deletes are possible (as you need a bit of diskspace to update the database)

[2017-01-17 12:36] wimpers commented on #573
@toolslive what is the reason for not even allowing reads when it reaches `ENOSPC`.

[2017-01-17 18:56] toolslive commented on #573
`ENOSPC` is terminal. The ASD might not even be capable anymore to delete a value, as that requires the transaction to be logged first. We risk rocksdb corruption and other bad things. Btw,
in this situation it's probably not the best idea to automatically restart the service.

[2017-01-17 19:01] toolslive commented on #573
The bug is not that it dies when there's an `ENOSPC`. The bug is that we get there, while we limit ourselves to use less than the given capacity.

[2017-01-18 08:55] wimpers commented on #571
On request of @toolslive reopened for possible tweaking of  the algorithm in the future.

[2017-01-18 13:12] wimpers commented on #531
can we reproduce or can this be closed as we didn't see it again.

[2017-01-18 16:11] toolslive commented on #547
`disk_usage` is a value that's maintained inside the ASD.
It's the sum of the sizes of the values that are stored inside that ASD.

As an example, this is an excerpt of the statistics of an ASD that was completely filled and then
completely emptied again.
[code]
If you look at the state of the file system, you see the following:
[code]
There are some residual directories, and there's about `75MB`

[2017-01-18 17:02] toolslive commented on #573
the example in #547 shows that rocksdb keeps a fat log of >70MiB. In this issue, the volume was 2.5GiB, and the reserved space is 25MiB. Either set the capacity to a lower value
(this was a setup with 2 ASDs on 1 FS, so the capacity was given in the configuration), or set the limit to something like 95.

[2017-01-18 17:02] #573 closed

[2017-01-18 17:04] #538 closed

[2017-01-19 07:49] toolslive commented on #543
implemented by #575
[code]

[2017-01-19 07:49] #543 closed

[2017-01-19 08:21] toolslive commented on #360
This issue is left in a void state. Sure, gobjfs still has no support for this (honestly,
I don't think it ever will),
but the alternative short path that's in use since Alba 1.3.3 does.

[2017-01-19 08:27] #360 closed

[2017-01-19 11:04] kinvaris opened #576 "Linking local backend to global backend results in Albamgr_protocol.Protocol.Error.Osd_already_exists"
We performed the following steps to reproduce the error: `Albamgr_protocol.Protocol.Error.Osd_already_exists`
- Add a global backend
- Add a local backend (with a `NoSatisfiablePolicy`)
- Link the local backend to the global backend
- It will fail with the following error: `Client_exception: Alba_client_errors.Error.NoSatisfiablePolicy`
- Make the policy satisfiable on the local backend
- Retry to

[2017-01-20 10:06] toolslive commented on #493
Alba does not know what a SCO is, and a namespace does not only contain SCOs. Our main client, volume driver stores other stuff as well, like fe snapshot.xml files.

[2017-01-20 10:07] toolslive commented on #407
alba 1.3.4

[2017-01-20 10:07] #407 closed

[2017-01-20 13:13] redlicha opened #580 "Client lib: failure to create ASD connection is not handled"
Observed during tests: volumedriver receives exceptions from the client lib:
[code]

Code inspection suggests that exceptions during ASD client instantiation escape without falling back to the slow path.

[2017-01-20 13:15] redlicha commented on #580
[code]
^^^ Please log at ERROR level.

[2017-01-20 13:17] wimpers commented on #493
Back to BAM for discussion

[2017-01-20 13:46] redlicha opened #581 "Client lib: ASD client fast path failure handling issue?"
Noticed during code inspection, to be investigated as discussed with @toolslive :

[code]
AFAICT, these are  the sole callers of `ConnectionPool::{get,release}_connection`. Specifically `release_connection` is always passed a `unique_ptr` that is != `nullptr`.

[code]

The `_fast_path_failures` is however only ever bumped if a `nullptr` is passed in.

[2017-01-20 16:21] kvanhijf opened #582 "list-all-osds lists OSDs previously purged"
This issue occurs when having multiple ALBA Backends

[code]

Above output shows the ASDs listed by backend `bend1` and `bend2`
All ASDs of both nodes are identical and 2 ASD has been claimed by `bend1` and 1 ASD has been claimed by `bend2`

Now when removing an ASD from `bend1` (GZPEeAG8pf8PaFNCiXFetYJGBCEDcboq), we see its being reported as `decommissioned` by `bend1`, but obvisouly this is not

[2017-01-21 22:58] toolslive commented on #581
fixed by #583

[2017-01-22 11:16] toolslive commented on #580
fixed by ( #583)

[2017-01-22 11:16] #580 closed

[2017-01-23 08:54] kvanhijf opened #585 "Inconsistent errors when claiming already claimed OSDs"
Through the GUI i claimed an ASD on some backend, which was successful, but when trying to claim the same ASD on another backend i get 2 different errormessages

1st error message:
[code]

Subsequent error messages:
[code]

The framework expects an error in a dictionary format, to be JSON parsable, but we're getting a string instead (We always pass the --to-json flag)

[2017-01-23 09:35] toolslive commented on #585
the cli command you're using doesn't include `--to-json` (even though you say you pass it in)
if you do so, you get:
[code]
from which you can get the `exception code`

[2017-01-23 10:40] toolslive commented on #531
it's not an alba, but an infrastructure issue, and we don't use that many proxies anymore.

[2017-01-23 10:40] #531 closed

[2017-01-23 10:58] #585 closed

[2017-01-23 10:59] #406 closed

[2017-01-23 12:42] domsj commented on #547
@toolslive the size of the content of the rocksdb directory can indeed explain a small difference between `list-osds` and `ls -lRhs`, however that's not what this ticket is about, because it can't explain:
- 25GB difference
- restart of maintenance make this problem disappear

This ticket is about disk usage information not being properly propagated towards the albamgr.
Restart of the maintenance

[2017-01-23 14:02] redlicha opened #587 "Client lib: Asd_client::partial_get uses huge timeout in partial read"
[code]
[code]
=> the `transport->read_exact` calls in `partial_get_request` have a timeout of `Clock::max()`.

[2017-01-23 14:25] toolslive commented on #441
[code]

[2017-01-23 15:16] #587 closed

[2017-01-23 17:06] domsj commented on #576
I think this is a framework-alba-plugin bug. Can the issue be moved?
The framework code should handle the returned Osd_already_exists error and just continue with trying the claim-osd call.
@khenderick let me know if you disagree or not

[2017-01-23 17:15] khenderick commented on #576
I'm not sure at this point @domsj; as the `add-osd` fails with the `NoSatisfiablePolicy` error, I'm not sure whether it was added or not since an error is thrown, I'd expect it to be not added at all. Otherwise, a warning might be more appropriate. So on the next try, I would expect I have to try it again.

I do agree that catching the failed `add-osd` call and execute a `claim-osd` call instead c

[2017-01-24 08:22] khenderick commented on #576
After some more discussions with @domsj, it turns out that I was kinda completely wrong :cold_sweat:. So the `add-osd` succeeds, but the `claim-osd` fails. And we always execute the `add-osd`, even if it was already added. Do'h.

Let's fire up the ticket mover, 'cause this one doesn't belong here.

[2017-01-24 08:25] openvstorage-ci commented on #576
This issue was moved to openvstorage/framework-alba-plugin#345

[2017-01-24 08:25] #576 closed

[2017-01-24 08:35] domsj commented on #535
Why is this urgent/SRP ?
The proxy is no longer in the hot path, so imo this performance optimisation isn't urgent/important.

[2017-01-24 09:49] khenderick opened #590 "NoSatisfiablePolicy error right after adding few more disks"
A backend with one ASD was created. The smallest policy was 2, 2, 3, 4 so it could not be used. When linking that backend as OSD to another backend it fails - as expected with an NoSatisfiablePolicy. However, when adding 2 more ASDs to that backend and retrying, it still fails. It takes a minute (or two) before I can link the backend.

[2017-01-24 09:49] domsj commented on #582
This is (to me at least) expected.
If we don't want this behaviour we should either
- not automatically track (add) all osds in a backend (now asds are discovered automatically and added to all backends/abms)
- remove asds that are claimed by another backend and
 the framework could when an asd is destroyed remove it from all backends
- some process could periodically remove all osds from a backen

[2017-01-24 09:54] domsj commented on #582
Regarding my preference for no more asd discovery: that would also prevent issues such as #269 (maintenance from env1 trying to connect to asds from env2 - which it possibly can't even reach due to how the network is configured)

[2017-01-24 09:56] domsj commented on #590
This is due to how osds are taken in use for existing namespaces.
We can probably make an improvement there: if the proxy detects this situation it could do whatever the maintenance process would do a few minutes later anyway.

[2017-01-24 10:56] wimpers commented on #582
@domsj I believe there is a command to purge OSDs from monitoring, I assume the same can be used to remove it from  list-all-osds?

[2017-01-24 12:45] domsj commented on #582
yes, it can be used. the question is: when should it be used? (and the answer determines wether you fall into option 2 or 3 that I mentioned)

[2017-01-24 13:28] domsj commented on #571
There are 2 forces in play in maintenance which rebalance objects, based on:
- node spread (place as few fragment as possible on each node - part of the repair by bucket loop)
- disk usage

Those forces conflict in situations such as this one (asymmetric setup).
(Apparently rebalance based on node spread is winning)

A question here is: which force do you want to win?

If node spread should win, t

[2017-01-24 16:43] wimpers commented on #571
@saelbrec please check. I would prefer node spread for now as this is safer. I would keep this issue open for adding a flag to overrule it temporarily.

[2017-01-26 15:57] #581 closed

[2017-01-27 09:23] khenderick opened #596 "Don't disqualify ASDs (immediately) on a broken pipe"
After some discussions with @domsj:

Don't disqualify ASDs (immediately) on a broken pipe. If for example an update or a storagenode reboot causes all ASD processes to be restarted, the proxies will have all their connection pipes being broken. The proxy would then disqualify all ASDs and need to wait for the requalification process to qualify all the ASDs again. This happens when the ASDs are alr

[2017-01-27 15:21] domsj opened #598 "Rora reads could keep replication in mind to avoid unnecessary fallback to proxy"
E.g. in case of replication on an all flash backend multiple fragments of the same chunk are equivalent.
The ocaml code knows about this, and can leverage that. The c++ code however will do a fallback to the proxy in case it can't read from the first fragment of a certain chunk (either because it isn't there, or because the asd is down).

The same applies for an accelerated backend with replicatio

[2017-01-30 13:01] JeffreyDevloo commented on #427
Did not encounter it anymore since the latest improvements on a testrun that ran the same scenario 200x.
Therefore I presume that it has been fixed.

[2017-01-30 13:08] #427 closed

[2017-01-30 13:13] toolslive commented on #443
With the current set of ideas, this is no longer needed.

[2017-01-30 13:13] #443 closed

[2017-01-30 13:33] toolslive commented on #500
There's also this:
https://github.com/ofiwg/librdmacm/issues/1
also seen by Alba's sister project:
/[volumedriver/#245](https://github.com/openvstorage/volumedriver/issues/245)

[2017-01-30 18:07] #200 closed

[2017-01-31 10:28] #355 closed

[2017-01-31 10:38] toolslive commented on #264
If you ever see an alba cli command that hangs, open a ticket that contains the actual cli command.

[2017-01-31 10:38] #264 closed

[2017-01-31 13:39] wimpers commented on #260
Closing this issue as we protect against this when creating our own namespaces. if someone creates a namespace he is responsible for having a name he can parse later on.

[2017-01-31 13:39] #260 closed

[2017-01-31 14:01] toolslive commented on #209
In that case, the ASD dies with exit code 666. @jeroenmaelbrancke  Does monitoring pick this up?
Have we seen this recently?

[2017-01-31 14:14] jeroenmaelbrancke commented on #209
We did not implement the usage from the asds with the alba API because Check mk automatically monitor the usage of the mountpoints.

![mountpoints](https://cloud.githubusercontent.com/assets/2900612/22468040/439ea41e-e7c7-11e6-8a66-81204a2143eb.png)

[2017-01-31 14:23] wimpers commented on #209
@jeroenmaelbrancke  can you enable the log monitoring to monitor this exit code 666 so we have an idea how many times it occurs

[2017-02-01 08:18] jeroenmaelbrancke opened #601 "Amount of nsms increase rapidly"
Setup
Backend: 1x hdd backend, 3x flash backend (accell backend)
Each volumedriver have his own accell backend.

nsms load:
![nsms_load](https://cloud.githubusercontent.com/assets/2900612/22499308/3f69fa0a-e85e-11e6-9d4d-c4dbc0a6ac0f.png)

amount of namespaces:
[code]

amount of volumes in the volumedriver:
[code]

Maintenance agent is still running but not sure if the thread is hanging to clean u

[2017-02-01 12:33] matthiasdeblock commented on #601
The main issue here is that deleted namespaces are deleted from the HDD backend but not from the flash backend. This is causing the amount of NSMs.

The HC is creating multiple namespaces per 5 mins (CheckMK). For example: volume on the hdd backend, proxy test object, backend test object ... (contact @openvstorage/qa for more details on this).

The healthcheck is also removing the namespaces but d

[2017-02-01 12:34] jeroenmaelbrancke commented on #209
@toolslive will log some information when the process exit.
Ping me when you have an example log so i can create the alert rule in ElastAlert.

[2017-02-06 09:02] domsj commented on #601
how was the delete namespace triggered?
using `proxy-delete-namespace` or using `delete-namespace`?

[2017-02-06 09:11] toolslive commented on #323
@kinvaris, @wimpers I think we can close this one ?

[2017-02-06 09:14] wimpers commented on #323
Re-open if we can reproduce

[2017-02-06 09:14] #323 closed

[2017-02-06 12:16] jeroenmaelbrancke commented on #601
The healthcheck create a xml file in the volumedriver mountpoint
[code]

[2017-02-07 14:31] JeffreyDevloo opened #606 "Maintenance process a lot of empty file description"
### Problem description
I was tailing my log files until I got flooded with
[code]
These were the alba processes at the time:
[code]
An lsof of the process (maintenance) gave these results:
[code]
Full lsof provided below:
[alba_maintenance_file_descript.txt](https://github.com/openvstorage/alba/files/757944/alba_maintenance_file_descript.txt)

[2017-02-08 13:20] jeroenmaelbrancke opened #607 "too many connections"
Setup:
1 vpool with 2 proxies and an accelerated albabackend.
Somebody removed multiple asds on the accelerated backend (without waiting for the rebalancing).

@domsj is aware about the issue and setup.
Anything else i need to add to the ticket?

proxy output:
[code]

lsof output:
[code]

[2017-02-08 13:42] jeroenmaelbrancke commented on #607
After restarting the proxies we still see read/write errors on the volumedrivers:
[code]

if i'm not mistaken the stor-03 is the node where alle the asds where removed.
You can download the logs on http://fileserver.cloudfounders.com/Operations/Logs/issue_607/

[2017-02-08 14:19] wimpers commented on #493
@saelbrec  and @wimpers to decide how to tackle.

[2017-02-08 14:32] wimpers commented on #508
@domsj what is the probem/use case where this happens? Do we need to fix in RC4?

[2017-02-08 14:45] wimpers commented on #601
@JeffreyDevloo  see Jan's question above ...

[2017-02-08 14:48] domsj commented on #508
It can happen during normal operation of the proxy. I have no idea what triggers it and/or how to fix it.
The good news is that the proxy will restart and start taking requests again.

[2017-02-08 14:51] wimpers commented on #508
Discussed with @saelbrec : can you investigate a bit more as we feel uncomfortable putting things in the field which restarts suddenly.

[2017-02-09 08:24] domsj commented on #607
This is probably the same issue as https://github.com/openvstorage/alba/issues/461

[2017-02-09 10:30] jeroenmaelbrancke opened #608 "albaproxy throws masterlookupresult errors when all the arakoons are still running"
When running a heavy fio test on the environment the healthcheck and the alba proxy throws an (info) error log.

All the Arakoons are still running without errors but what we saw in the arakoon logs is appending the tlog took + 6 sec for 259 B.

Same masterlookup error on the healthcheck: https://github.com/openvstorage/openvstorage-health-check/issues/279

Proxy log:
[code]

Arakoon log:
[code]

[2017-02-09 12:32] jeroenmaelbrancke opened #609 "Alba proxy Too many open files" accept error exit 1 Failure"
I'm tryting to reproduce issue #607 and got following errors.

setup:
Removed all asds from 1 node (policy still satisfied no issues).
When removing an extra asd  (policy is not satisfied anymore) i received following errors in the proxies.

The Alba proxy restart each time when my fio test is running. ( The fio test doesn't like this and stopped the process)

@toolslive Jan told me you saw this i

[2017-02-09 12:47] toolslive commented on #609
Yes, and it's fixed by https://github.com/openvstorage/alba/commit/3d88643c8869e306841fa397015efdb8a77456df

[2017-02-09 13:15] wimpers commented on #608
@domsj  can you update this one?

[2017-02-09 14:16] toolslive commented on #606
see #609 .

[2017-02-09 14:16] #606 closed

[2017-02-09 17:09] domsj commented on #607
Fyi on the gig env the alba version was 1.3.4.
So it did not yet include the file descriptor leak ... @openvstorage/qa (@jeroenmaelbrancke) if you want to reproduce maybe you should try with that version too.
(Or retry with a new version which contains a fix for the fd leak - @toolslive can probably provide you with this tomorrow if so desired)

[2017-02-09 19:59] #609 closed

[2017-02-10 10:14] jeroenmaelbrancke opened #611 "extra alba commands should have the `--to-json` option"
Can you add the to-json flag for following commands:

- proxy-list-namespaces
- proxy-list-objects
- list-objects

[2017-02-10 13:33] toolslive commented on #607
[code]
These are avoided by #610.

The 'too many connections' problem is caused by the absence of timeouts in the object download path.
The download takes long (for whatever reason) and the volume driver disposes of the client and starts the same request with a new client. Meanwhile, the original download's request continues and the proxy server only notices that the connection is gone at the mome

[2017-02-13 08:24] #611 closed

[2017-02-13 12:59] wimpers commented on #582
@kvanhijf  why would you need a 'purified' list-all-osds? What is the context of this ticket. Can the extra command to purge from the monitoring be of any help?

[2017-02-13 14:23] matthiasdeblock opened #617 "Segfault errors in dmesg for ALBA"
Alba version: 1.3.4

Alba crashed with the following errors in dmesg:
[code]

The crash file on stor-03 got triggered at the same time slot as the above dmesg messages from stor-03.
[code]

Due to the apparmor bug (not overwriting crash files) there wasn't a crash file on the other 3 nodes from the above time slot. I've captured them as well but the crash files are from 08/02/2017 (am).
[code]

Yo

[2017-02-13 14:33] matthiasdeblock commented on #617
http://fileserver.cloudfounders.com/Operations/Logs/GH_617/

[2017-02-14 10:15] toolslive commented on #617
On `stor-03` (core is 3.1GB)
[code]
On `stor-04` the backtrace looks completely different:

[code]
in all cases, it's the maintenance process.

[2017-02-14 16:10] kinvaris commented on #549
I've tried to reproduce the issue and today we've observed the following:

## Steps to reproduce:
* Create a global backend
* Add 2 local backends & 1 external local backend with policy `(1, 2, 1, 3)`
* Create some vdisks and add some data to the vdisks (in my case I wrote approx. 10GB of data)
* I broke 1 external local backend (lazy umount of asd mountpoints)
* I deleted the external local backe

[2017-02-14 16:29] kinvaris opened #618 "Decommissioning a backend/disk causes connections leaks"
On a certain environment I've decommissioning a backend that is still running but policy wise broken.
After the proxy removed the backend from `list-osds` we would expect all connections died with it.
But as seen here it isn't. (These results are for 12 ASDS)
[code]

[2017-02-14 16:42] domsj commented on #549
Discussed this with @toolslive, we can (and will) make an improvement here in the near future

[2017-02-15 08:53] wimpers opened #619 "HPRM support"
HPRM support for ALBA

[2017-02-16 15:19] jeroenmaelbrancke opened #620 "Alba get-disk-safety throws namespace does not exists exception on an accel backend"
The healthcheck call the alba get-disk-safety --config.... command (without the extra option namespace) for verifying the disk safety of all the namespaces.

command:
[code]

version:
[code]
The ssdbackend is an accel albabackend.
Usage: 89.76% used (8.62 TB of 9.6 TB)
Maybe, at the moment we ran the command, a namespace was deleted before you could return the disk safety of it?

Error:
[code]

[2017-02-16 15:43] domsj commented on #620
I've looked at the code and couldn't immediately find a race condition (by a concurrent namespace delete) which could explain this.
There is another error that could be triggered by said race condition though, so there's at least 1 improvement we could make to the code. Need to investigate the code some more to find out what actually happened...

[2017-02-16 15:56] domsj commented on #620
Looking into it some more I do see the race now ...
I think the error comes from disk_safety.ml:L43 -> nsm_host_access.ml:L236.
We probably want to catch it in disk_safety.ml:L104.

The race I mentioned in my previous comment is in alba.ml:L584, that shouldn't throw in case no namespaces were passed in on the cli.

[2017-02-17 09:50] redlicha opened #622 "Access to object with missing fragments results in `Proxy_protocol.Protocol.Error.ObjectDoesNotExist`"
1. successful read (stor-04/syslog.1):
[code]
2. First failed read (stor-04/syslog) returning `ObjectDoesNotExist` after detecting missing fragments:
[code]
3. retries / later attempts run into the `ObjectDoesNotExist` immediately:
[code]
4. maintenance on another node tries to repair (last grep hits in the logs):
[code]

[2017-02-17 09:54] redlicha commented on #622
[code]

[2017-02-20 10:51] matthiasdeblock opened #623 "Failure "chunk 0 failed" must be more detailed when environment is full"
Failure "chunk 0 failed" must be more detailed when environment is full

Alba version: 1.3.6

Situation: the environment got full and the policy (12/4/14/2 - 10 nodes) could not be satisfied (disks 99% on 5 nodes). I checked the logfiles and found the below error in the alba-proxy.

[code]

Detailed logview:
[code]

The first "chunk 0 failed" error started right after lot of the following messages

[2017-02-21 15:20] jeroenmaelbrancke opened #624 "High cpu load on asds when deleting 1000 vdisks"
On the OVH setup we had a strange case.

The CPU of the most StorageVsa nodes (where the accel asd backend is located) was high (load 10+ on a 2 vcpu vm).

At tho moment we deleted 1000 vdisks the most asd from the accel backend are disqualified from the proxy.

In the ASD log file we checked the request apply took ....
The most request were applied < 1 sec but some times > 20 sec.

For example St

[2017-02-28 07:33] domsj opened #625 "Proxy logs "Detected missing fragment" for objects that have been deleted"
Probably all seen instances are false positives ... it would be better if these messages would not appear in the log when the object was already deleted (which happens to be the case a lot for objects in the fragment cache).

[2017-03-01 09:27] jeroenmaelbrancke opened #627 "Subset between max asd usage and min asd usage increase when removing asds"
On OVH we have an accel backend with preset 4,1,4,1 (11 nodes with 4 asds/node)
When we removed 2 asds on a node the usage of the 2 other asds increased rapidly.
This triggered the alarm that the subset between the max and min usage is >2%.

error:
[code]

data spread in %:
![data_spread](https://cloud.githubusercontent.com/assets/2900612/23453603/42ba8564-fe69-11e6-9740-1559a18e169a.png)

asd usa

[2017-03-01 10:21] jeroenmaelbrancke commented on #627
and now the asds is dropping (the mount usage is the sum of 2 asds):

![asd_info](https://cloud.githubusercontent.com/assets/2900612/23455724/e7c45416-fe70-11e6-8227-2aa41fb26ba9.png)

min usage:
![node_min_usage](https://cloud.githubusercontent.com/assets/2900612/23455775/1e43f668-fe71-11e6-892e-6a596eb95856.png)

max usage:
![node_max_usage](https://cloud.githubusercontent.com/assets/2900612/234

[2017-03-02 08:52] domsj opened #629 "add command to check claimed status of an asd"
that is not registered in any albamgr.

see https://github.com/openvstorage/framework-alba-plugin/issues/378

[2017-03-02 13:48] jtorreke opened #630 "Add an extra field to the proxy namespace statistics to contain the last updated timestamp"
The back story is that each volumedriver now has 2 proxies deployed. Each proxy contains statistics for a given set namespaces and without resetting the statistics, it will forever show the same statistics if a volume would move to another node/volumedriver and nothing would ever happen on a namespace on that proxy.
A possible solution would be to add a timestamp to tell us when the statistics wer

[2017-03-02 16:26] jeroenmaelbrancke commented on #627
and the asds are now at 99%.

![asd_usage](https://cloud.githubusercontent.com/assets/2900612/23516356/489b6db8-ff6d-11e6-8856-3535a89f9f6d.png)

spread:
![data_spread](https://cloud.githubusercontent.com/assets/2900612/23516367/4da94cda-ff6d-11e6-8914-1fa1ecb4fea2.png)

[2017-03-03 08:20] domsj commented on #629
fixed in #631. let me know when you need a new release.

[2017-03-03 08:20] #629 closed

[2017-03-03 08:53] saelbrec commented on #607
@openvstorage/qa,
It's unclear with which version @jeroenmaelbrancke was unable to reproduce.
Please validate if this is resolved by the https://github.com/openvstorage/alba/issues/609

[2017-03-03 10:16] #625 closed

[2017-03-03 13:20] domsj commented on #601
@JeffreyDevloo !

[2017-03-03 13:24] domsj commented on #608
I don't think there's anything to do here.
The ssd on which the arakoon was running couldn't keep up with the load, leading to periodic masterloss of the cluster.
The alba proxy (rightfully) logs this, without stumbling over it.
So closing this issue...

[2017-03-03 13:24] #608 closed

[2017-03-03 13:24] #620 closed

[2017-03-06 15:40] JeffreyDevloo opened #634 "to-json support for list-ns-osds"
### Problem description
This command is the only to check whether a namespace is ready to receive objects.
Processing the plain text output from it is a bit of a hassle

Example output:
[code]
This is currently blocking us as sometime after the creation of a namespace we get 'NoSatisfiablePolicy' exception for uploading an object (right after its creation)

[2017-03-07 07:57] #634 closed

[2017-03-07 13:29] domsj opened #637 "--to-json for list-work"
It would be good if monitoring could periodically check how many work items are outstanding. This way we get another pretty graph to look at (in case of problems).

[2017-03-07 15:53] domsj opened #638 "Maintenance RewriteObject task should stop when namespace no longer exists"

[2017-03-07 16:11] domsj opened #639 "lots of Alba_client_preset_cache.propagate_preset logging"
This log line isn't very informative and was seen quite a lot (more than expected?) on the OVH env. To be investigated.

[2017-03-07 16:13] domsj opened #640 "broken objects could result in disk-safety smaller than -k"
in the output of get-disk-safety

(and this value doesn't really make sense)

[2017-03-07 16:17] domsj opened #641 "broken objects in cache namespaces should be cleaned up"
It makes no sense to keep around metadata for objects for which no fragments are still available. Maintenance should clean these up.
Not sure if it makes sense to keep around objects for which some fragments (less than k) are still available?
(It could still serve some read requests, so they have at least some value...)

[2017-03-07 16:34] domsj opened #642 "excessive alba maintenance memory usage"
saw it go up to 13GB (when it had lots of work to do).
It would be nice if the user could express the max amount of memory maintenance is allowed to use.
Customers want to limit this, so their node doesn't go into swap unexpectedly.

[2017-03-07 17:06] domsj commented on #639
@jeroenmaelbrancke do you still see this now? what if you restart maintenance?
Wondering if it maybe had something to do with the maintenance work backlog that triggered this...

[2017-03-07 18:40] #638 closed

[2017-03-07 18:40] #640 closed

[2017-03-07 22:31] domsj opened #644 "asd statistics improvements"
- asds can receive high and low priority request. both are aggregated into the same set of statistics, which makes them less meaningful
- duration bucket distribution (vs min/max/avg which we have now)
- apply is about deletes and writes, these could be split

[2017-03-07 22:35] domsj opened #645 "Proxy stumbles on broken fragment cache namespaces"
OVH env had issues with high latency. Removing namespaces with broken objects improved the situation.
Write a test which implements this scenario and fix any fallout.

[2017-03-08 14:40] jeroenmaelbrancke commented on #639
Yep, still seeing this on the maintenance agent.
![propagate_preset](https://cloud.githubusercontent.com/assets/2900612/23708211/7a36d14e-0415-11e7-929b-993cca9bed78.png)

[2017-03-08 14:44] JeffreyDevloo commented on #601
using proxy-delete-namespace

[2017-03-08 16:04] wimpers commented on #641
To be discussed. maybe leave as is in a first version. Do we track how many fragments are still in cache?

[2017-03-08 16:05] wimpers commented on #642
The maintenance can now run a  special machine so this has become less hot.

[2017-03-08 16:53] wimpers commented on #627
Is this expected, pelase shine your light on the issue @domsj @toolslive

[2017-03-08 17:06] wimpers commented on #639
@domsj if you can fix between soup and potatos for RC4, change the milestone.

[2017-03-08 17:07] wimpers commented on #601
@domsj what's next?

[2017-03-08 18:11] saelbrec commented on #622
Feedback from @toolslive

So it happened, but we have no evidence, and cannot reproduce it for the moment.

[2017-03-09 09:07] domsj commented on #601
I can reproduce this, and have a hypothesis... further investigating, hope to have a fix available soon.

[2017-03-09 12:35] domsj commented on #637
fixed by #646

[2017-03-09 12:35] #637 closed

[2017-03-10 10:21] kvanhijf commented on #582
@wimpers : Reason i reported this was just because it seemed not logic to me, to see these differences between ALBA backends. They're not causing any issues for us, but it might be good for OPS to know in which cases they can end up in such behavior

[2017-03-11 07:30] domsj commented on #601
I was a bit optimistic about being able to reproduce ... but thinking about it some more, I can imagine a few scenarios where this might happen in combination with the bug in ensure single from earlier on.

Is it possible re-enable these checks on a testing environment which has a correctly functioning ensure single decorator, and then keep a close eye on the number of namespaces in the fragment c

[2017-03-14 11:04] jeroenmaelbrancke commented on #476
I see this error also on the OVH setup:

[code]

[2017-03-15 14:14] domsj commented on #627
So far for me it's unexpected. Probably the asymmetricity of the setup is somehow involved.
Regarding warning 1, critical 2: I don't think it makes sense to wake somebody up if this issue should occur.
As long as the backend is writeable at max you want to see a warning about this in the monitoring gui.

[2017-03-17 08:22] domsj opened #654 "Maintenance should log something when evicting items from the fragment cache"

[2017-03-17 10:00] domsj opened #655 "Finer grained ssd caching"
Currently caching of hdd data onto ssds is done on a fragment level granularity, using the alba proxy fragment cache feature. The fragment cache can be either a local ssd or another (ssd-based) alba.

For some use cases however it may make more sense to do finer grained caching, for example based on slices of 128KB or 256KB of data.

[2017-03-17 12:56] toolslive opened #656 "accelerated alba: cache on read slows down download of fragments (way too much)"
[code]
we're waiting until the fragment was added to the fragment cache
(which might take long in case it's alba based)

[2017-03-20 08:49] JeffreyDevloo opened #657 "get-disk-safety failed with 'Namespace manager exception: Nsm_model.Err.Namespace_id_not_found'."
### Problem description
Monitoring revealed the following sub awesome behavior with the get disk safety command:
[code]

What could have happened:
- Another healtcheck was busy with a test that involves creating and removing namespaces
- At the time the other namespace was getting deleted, get-disk-safety was called

### Proposed solution
The whole command should not fail when one namespace cannot

[2017-03-20 09:41] domsj commented on #657
Which alba version?
I think this is something that should be fixed in 1.3.7, see https://github.com/openvstorage/alba/pull/633 .

[2017-03-20 09:54] JeffreyDevloo commented on #657
The alba version is 1.3.7
[code]

[2017-03-20 10:41] jeroenmaelbrancke commented on #657
On OVH we forgot to restart the proxies after updating to 1.3.7.
Closing the tickets and if i still see this issue i will open the tickets again.

[2017-03-20 11:40] toolslive commented on #656
alba 1.3.8

[2017-03-20 11:40] #656 closed

[2017-03-20 15:40] toolslive opened #660 "partial reads: sub awesome behaviour of concurrent partial reads for same fragment"
These result in the same fragment being read and added to the fragment cache multiple times.

[2017-03-21 07:44] jeroenmaelbrancke commented on #657
Problem is not solved. This night we received an urgent with the same error.
Alba version 1.3.8

[2017-03-21 10:41] #654 closed

[2017-03-21 10:53] #657 closed

[2017-03-21 15:24] domsj opened #663 "sub awesome fragment cache eviction for backend that is used both as a storage backend and a cache backend"
Maintenance will evict 1% of all objects in cache namespaces.
When the backend is mostly filled with actual data (e.g. 80%) then only 1% of 10% of the data will be deleted.
This might be too slow causing the backend to fill up.

We can make some improvements, e.g.:
- delete 1% of total amount of objects (not just the amount of cache objects)
- delete a higher percentage depending on how full the b

[2017-03-21 15:47] wimpers commented on #639
@domsj I believe you would fix this between soup and potatos. Did that happen in the end?

[2017-03-21 15:55] domsj commented on #639
not yet. looked at it a bit already, but wasn't able to finish it so far

[2017-03-21 16:00] domsj opened #664 "Logging improvements"
As requested by @JeffreyDevloo:
- log NoSatisfiablePolicy as an error iso info
- log disqualifying osd as error

[2017-03-22 12:41] domsj commented on #660
(should be) fixed by #665 & #666

[2017-03-22 12:41] #660 closed

[2017-03-22 15:56] #664 closed

[2017-03-23 06:46] rainmanh opened #669 "[core_kernel: -- [ERROR] The compilation of core_kernel failed at "make". --"
Hi,

I am compiling on Ubuntu 64 - 16.04 using the docker container and the process breaks at thsi stage and with the following error:

[code]

Many thanks

[2017-03-23 08:20] domsj commented on #669
Hi @rainmanh

About 15 hours ago the build using this dockerimage still succeeded on travis.
I've restarted https://travis-ci.org/openvstorage/alba/jobs/213892133 to see if we get the same problem there.
Possibly something changed in our dependency on janestreet core, despite our attempt to specifically control which version we want.
Will look further into it once travis confirms the problem.

[2017-03-23 08:47] rainmanh commented on #669
Thanks for that @domsj .
yes, I can see you got the same issue when triggering travis.

[2017-03-23 11:06] toolslive commented on #669
So  `core.114.05+21` no longer compiles, even though we pin on a commit hash. So I moved to
`core.114.35+03`, but that has different API. I adapted the logger in Arakoon.
[This](https://github.com/openvstorage/alba/tree/issue_669) should work, but the microseconds in log statements still look off (I'll be fixing that next).

[2017-03-23 13:51] matthiasdeblock opened #671 "Observation: TCP TIME_WAIT storm from maintenance and proxy"
When troubleshooting an environment @ GIG we noticed that there was a TCP TIME_WAIT storm upcoming from the maintenancer (on 1 node) and the proxy (on 2 nodes).

For example: the amount of TIME_WAIT's on a node dropped from 70k to 2k after killing the maintenancer.

[2017-03-23 13:55] matthiasdeblock commented on #671
root@stor-01:/usr/share/bcc/tools# dpkg -l | grep alba
ii  alba                                 1.3.7                                   amd64        the ALternative BAckend

[2017-03-23 14:00] dejonghb commented on #671
Maybe related, on my env there's lots of short living connections
[code]
[code]

port 26404 on .33 & .34 are arakoon abm processes:

[code]
[code]

[2017-03-23 14:13] dejonghb commented on #671
.33 is arakoon master

[2017-03-24 07:57] #671 closed

[2017-03-24 10:41] toolslive commented on #669
all should be fine now. I'm just not merging the [issue_669](https://github.com/openvstorage/alba/tree/issue_669) branch in yet, as it changes the toolchain of master.

[2017-03-24 15:38] dejonghb opened #681 "maintenance gets into trouble when (asymmetric) backend gets full"
Maintenance frequently dumps core when the backend fills up...
[code]

In this setup one storage server had 1 extra disk in use, making it an asymmetric setup. I'll retest after removing that extra disk to see if this has an impact or not.

(using alba 1.3.10)

[2017-03-27 10:43] domsj commented on #645
Recently proxy_client.test_partial_read_broken_fragment_cache started failing. It seems like the request for a broken object can (sometimes) get stuck.
I've implemented a fix for this, which can imo resolve this issue.

[2017-03-27 11:08] #645 closed

[2017-03-27 12:38] dejonghb commented on #681
After removing the extra disk no core dumps were generated while refilling the backend
Re-adding the extra disk also reintroduces the core dumping (more frequent when also writing new data)

[2017-03-28 07:21] matthiasdeblock commented on #642
We had the same issue at GIG and also on OVH right now. On OVH we have implemented a crontab to restart the maintenance agent every hour due to this excessive memory usage.

[2017-03-28 07:25] matthiasdeblock opened #686 "Repair single namespace"
Is it possible to implement an option to repair a single namespace? Or an option where you can ask the maintenance agent to start repair all namespace below disk safety <n>.

Via the healthcheck we get an error message of the disk safety when a namespace is at disk safety 0. We get a warning message once the disk safety is greater then 0 en smaller then the maximum disk safety.

[2017-03-28 07:35] wimpers commented on #686
@domsj doesn't the maintenance agent repairs the objects with lowest disk safety first automatically?

[2017-03-28 07:37] domsj commented on #686
@wimpers yes it does so, within the context of a namespace, for all namespaces in parallel.
It doesn't prioritize repair for what are globally (across all namespaces) the objects with lowest disk safety.

[2017-03-28 09:53] dejonghb commented on #681
[code]

[code]

[code]

Total fill rate:
- ~85% 10:58
- ~90% 11:25
- ~92% 11:35
- ~93% 11:40
- ~94% 11:45 (disks on 1st 2 nodes filled ~98%)

[2017-03-28 10:27] dejonghb commented on #681
coredumps available on 10.100.186.33
[code]

[2017-03-30 07:47] domsj opened #690 "Redis lru eviction: ERR wrong number of arguments for 'zrem' command"
[code]

We don't see this every minute, so I guess most of the time it actually works as desired.
Maybe this error only occurs if we''re trying to remove 0 items from the zset? To be further investigated...

[2017-03-30 09:12] domsj opened #692 "logging improvements"
- log "writing to fd" less frequently (summary at the end like "reading from fd in steps"
- display a bit more context ... which fd is it, what is it used for
- we also see plenty of "reading from fd in steps" messages (although not as much as writing to fd) - how useful are these really? can we display a summary once each minute?

[2017-03-30 09:17] dejonghb commented on #692
The "writing to fd" is logged as **info**; for example:
[code]
whilst "reading" is logged as **warning**; for example:
[code]

Currently not much else gets logged; but (at least for me) it's unclear what to look at to get rid of it...

[2017-03-30 09:54] dejonghb commented on #692
When logging the fd value as well, it's possible to get a more detailed view as to where a problem might be located via /proc/<pid>/<fd> (and the contents of /proc/net/tcp file in case of sockets) .

[2017-04-03 11:50] wimpers commented on #564
Continued in https://github.com/openvstorage/alba_ee/issues/6

[2017-04-03 15:00] jeroenmaelbrancke opened #696 "When restarting the maintenance agent, asd add Maintenance.NotMyTask to the recently errors"
Due to some problems in the maintenance agent we restart the agent every hour with a cronjob.

What we see in the osd information that we receive an error with Maintenance.NotMyTask.
Framework checks those stats to calculate when they change the status in the GUI of the asd from OK to Warning.
len(errors) > 0 and (len(reads + writes) == 0 or max(min(reads), min(writes)) <= max(errors) + 5min)

If

[2017-04-05 13:59] #447 closed

[2017-04-18 09:24] domsj opened #699 "unlinking local backend leaks a namespace"
namespace with name $prefix is left behind, which keeps a preset in use

[2017-04-21 09:22] wimpers commented on #655
To be picked up in https://github.com/openvstorage/alba_ee/issues/14

[2017-04-21 09:22] #655 closed

[2017-04-25 09:18] #663 closed

[2017-04-26 14:32] #508 closed

[2017-04-26 14:33] domsj commented on #617
probably fixed by #705

[2017-04-26 14:33] #617 closed

[2017-04-26 14:33] domsj commented on #681
probably fixed by #705

[2017-04-26 14:33] #681 closed

[2017-04-26 15:56] domsj commented on #669
This has been fixed in the meantime

[2017-04-26 15:56] #669 closed

[2017-04-26 17:21] domsj commented on #476
Fixed by #705

[2017-04-26 17:21] #476 closed

[2017-04-27 15:58] dejonghb commented on #692
At least partly addressed with Log enhancements #707

[2017-05-02 12:24] toolslive commented on #696
#312 #441 #547

[2017-05-03 08:08] toolslive commented on #312
#708 fixes a case where maintenance starts spinning while trying to repair a bucket.
This might not fix everything observed in **this** ticket, but closing it nonetheless. New observations need a new ticket then.

[2017-05-03 08:08] #312 closed

[2017-05-05 10:16] JeffreyDevloo commented on #699
Linking a local backend to a global backend with an unsatisfied policy also puts this namespace on the local backend.
Any additional attempts to link it (even with a good preset) will not link it anymore due to the left over namespace.

[2017-05-09 10:20] jeroenmaelbrancke opened #713 "add an option remove-nsm-host"
Do we have the option to remove a nsm cluster from the abm?
You can mark a nsm cluster as lost but what if we want to remove the cluster?

[2017-05-10 13:46] domsj opened #716 "optimize maintenance rebalance/re-replicate with direct asd-to-asd communication"
Rebalance can be optimized by having the too full asd send the fragment data to the not-yet-full-enough asd directly.

Similarly for replication it should be possible to send the fragment data directly between the asds.

[2017-05-11 13:37] dejonghb commented on #716
Quite some impact from maintenance trying to rebalance an  asymmetric backend (1 disk extra in 1 node in this setup; but extra empty disks would have simular behaviour)

Throughput from dd in a vm via edge:

maintenance off:
[code]

maintenance on:
[code]

maintenance off:
[code]

maintenance on:
[code]

[2017-05-16 12:46] dejonghb commented on #716
Maybe the rebalancing should not be enabled by default, given the impact on the network (and disks) that gets lost for ingest?

Is the time/work done for moving old data around indeed worth the effort? Probably this also depends on the use case and for a constant ingest things might be different than for a bursty one...

Maybe the decision when to move data around plus from where to where to move

[2017-05-18 13:47] domsj commented on #551
The ocaml-redis library that we use now has support for redis cluster: https://github.com/0xffea/ocaml-redis/pull/51 . So if desired we could integrate this.

[2017-05-19 07:36] wimpers commented on #551
Not required for now as we switched from LRU to random eviction.

[2017-05-19 08:14] wimpers commented on #716
Isn't there a way to limit the impact of rebalancing (lowering its priority) so there still is some rebalancing going on?

[2017-05-22 11:37] domsj opened #720 "centos 7 build result is broken"
The binary / package still builds, but the binary exits before doing any usefull work on an assert about the libgcrypt version - which isn't met.
This was introduced in https://github.com/openvstorage/alba/pull/697 aka as of 1.3.13.

This fails on travis too, see e.g. https://travis-ci.org/openvstorage/alba/jobs/234731563, but the error gets swallowed somewhere in the process.

[2017-05-22 14:58] toolslive commented on #720
centos-7 docker instructions will still install `1.5.3-13.el7_3.1` while the assert moved to 1.6.0

[2017-05-24 07:01] wimpers commented on #336
Existing object will not be automatically rewritten with the new fragment_size

Part of https://github.com/openvstorage/alba_ee/releases/tag/1.5.0

[2017-05-24 07:11] #644 closed

[2017-05-24 07:13] toolslive commented on #619
addressed by https://github.com/openvstorage/alba_ee/releases/tag/1.5.0

[2017-05-24 07:13] #619 closed

[2017-05-24 07:46] openvstorage-ci commented on #336
This issue was moved to openvstorage/alba_ee#37

[2017-05-24 13:07] domsj commented on #720
fixed by #723

[2017-05-24 13:07] #720 closed

[2017-05-24 13:44] domsj commented on #528
This was most likely fixed in alba 1.3.15 https://github.com/openvstorage/alba/releases/tag/1.3.15, so closing this issue
[code]

[2017-05-24 13:44] #528 closed

[2017-05-26 14:12] #696 closed

[2017-05-29 09:11] toolslive commented on #209
it will log a string `negative disk usage detected` on `fatal` level just before the end.

[2017-05-29 09:11] #209 closed

[2017-05-29 14:08] wimpers commented on #713
@domsj @toolslive is there an option or how hard would it be to implement?

[2017-05-29 14:22] domsj commented on #713
We could implement that an unused nsm cluster could be removed, and I think it should be relatively easy.
(The command would give an error in case the nsm host is already in use.)
But first: is this actually needed? It seems to me that ops should fix their setup/registration flow?

[2017-05-30 06:29] kvanhijf commented on #713
Fixing the setup/registration flow should be priority numero uno indeed.
But since mistakes can always occur, i think such a call could come in
handy. Instead of having to re-deploy the entire cluster, they can easily
remove the registered NSM

On Mon, May 29, 2017 at 4:22 PM, Jan Doms <notifications@github.com> wrote:

[2017-05-30 11:59] wimpers commented on #713
BAM thinks it should always be possible to remove an NSM (even if in use).  Since this will take much more time set to Roadmap.

[2017-05-30 12:07] wimpers commented on #624
@domsj anything needs to happen? If fixed please close.

[2017-05-30 12:14] wimpers commented on #623
The proxy can't write the chunk so the error is correct. CheckMK (based upon f.e. the healthcheck) needs to report/alert that  env is almost completely full. OPS team, if needed create the necessary tickets on the respective repos (if not yet the case).

[2017-05-30 12:14] #623 closed

[2017-05-30 12:15] wimpers commented on #622
Please re-open if we can reproduce

[2017-05-30 12:15] #622 closed

[2017-05-30 12:19] wimpers commented on #618
@JeffreyDevloo , @pploegaert Do we have a test that deletes backends so we can reproduce this?

[2017-05-30 12:20] wimpers commented on #598
What about HPRM?

[2017-05-30 12:31] wimpers commented on #550
@domsj what do you have in mind to fix/improve this?

Based upon a read failure, you disqualify for writes but still happily try reads. Isn't this a bit strange?

[2017-05-30 12:35] wimpers commented on #549
Is that near future already over? Near future sounds like days or weeks, not 3-4 months :)

[2017-05-30 12:35] domsj commented on #598
The pracc server uses the rora code inside, so same issue applies there.
Do note that given the repair-on-partial-read behaviour this isn't too bad...
(Also: how often will the fastest tier/cache use replication?)

[2017-05-30 12:38] wimpers commented on #547
@toolslive is this one fixed by the above PR? please close if so.

[2017-05-30 12:39] wimpers commented on #624
After discussion with @domsj , some fixes are done, to be verified by QA

[2017-05-30 12:43] JeffreyDevloo commented on #618
Not to this extend. We currently just setup and alba backend, add a preset and then remove it.

Also this ticket is rather vague. What happened here for instance? "After the proxy removed the backend from list-osds" would imply a global backend having other backends as osds where one of the backends would be removed from it while the global backend is being used on a vpool (hence the proxy referen

[2017-05-30 12:43] wimpers commented on #372
Please re-open if needed.

[2017-05-30 12:43] #372 closed

[2017-05-30 13:11] domsj commented on #549
Sorry I can't recall what improvements we had in mind. @toolslive perhaps you can remember?
Looking at the release notes I don't see it either

[2017-05-30 14:19] wimpers commented on #598
(Also: how often will the fastest tier/cache use replication?)

Hence set to Roadmap ;-)

[2017-05-30 14:30] toolslive commented on #547
No. above PR fixes something else ( #696 ).

[2017-05-30 14:56] dejonghb commented on #716
![rebalance](https://cloud.githubusercontent.com/assets/15377625/26589687/e66bf856-4558-11e7-92bc-c0b8b43ff03f.png)

[2017-05-30 14:59] #690 closed

[2017-05-31 10:13] domsj opened #728 "Stackoverflow when fetching proxy-statistics with --to-json"
Related to https://github.com/openvstorage/alba/issues/200.
A proxy on the env of @dejonghb was used to create & delete a very large amount of namespaces.
When requesting statistics from this proxy with --to-json the client process died with a stackoverflow.
(Retrieving the statistics without --to-json did not crash, so I think the problem is either in the json library we use, or due to logging a

[2017-06-01 06:49] domsj commented on #550
@wimpers that is indeed a bit strange. We could change the behaviour so that only errors on write result in disqualifying the osd for new writes

[2017-06-01 12:33] wimpers commented on #699
@domsj could you please document the steps to workaround this for now (while it isn't fixed yet)?

[2017-06-01 12:51] domsj commented on #699
After the unlink you can manually delete said namespace. see `alba delete-namespace --help` or `alba proxy-delete-namespace --help`.
The name of the namespace is usually (as chosen by the framework) the id of the global backend (can be retrieved with `alba get-alba-id --config /abm/config/of/global/backend`.

[2017-06-06 09:19] pploegaert opened #734 "Update preset fails with Failure Preset.Update.t.fragment_size"
As observed on:

unstable: arakoon 1.9.18 - alba-ee 1.5.1
develop: arakoon 1.9.17 - alba-ee 1.5.0

Updating an existing preset fails with:

```Failure Preset.Update.t.fragment_size```

According to @domsj probably regression since alba 1.5.0

[2017-06-06 11:22] toolslive commented on #734
is EE feature.

[2017-06-06 11:22] #734 closed

[2017-06-08 12:49] wimpers commented on #692
@dejonghb  what is still left to do?

[2017-06-08 12:58] wimpers commented on #686
Please implement a cli command  to repair a certain namespace. I don't think this should be part of the maintenance process.

[2017-06-08 13:02] dejonghb commented on #692
Afaik not all of
[code]
are covered currently

[2017-06-08 13:28] domsj commented on #686
Just to be sure: you think data safety is not a main concern for alba, and that this responsibility should be shifted towards the user (or the framework)?

[2017-06-08 14:04] wimpers commented on #686
Let me clarify,

The maintenance agent should be adjusted so it repairs objects with lowest safety globally first.
The maintenance agent should not provide functionality to fix a certain namespace.
A cli needs to be provides so admins can fix a certain namespace by means of a CLI.

@domsj does that clear things up  ...

[2017-06-08 15:46] domsj commented on #686
@wimpers ok, so you want 2 changes. so split up the ticket?

regarding the first change (repair globally weakest object first):
Can you settle for "a maintenance process repairs the weakest object that it is responsible for"?
Currently maintenance work is sharded over the available maintenance processes, based on the modulo of the namespace_id.
(I don't see yet how to efficiently implement repairi

[2017-06-09 12:05] wimpers commented on #686
Yes, lets' do that in this ticket.

[2017-06-09 12:29] wimpers commented on #686
I can imagine a case where OPS want to fix a certain namespace as it has higher importance (remember we don't allows to move vDisks between vPools and the importance may change). @jeroenmaelbrancke @matthiasdeblock  @jtorreke  pelase advise

[2017-06-13 07:50] dejonghb opened #736 "sst corruption after clean reboot"
After a clean reboot of a node, all asds fail to restart and complain about a corruption
[code]
[code]
[code]
[code]

Also journalctl fails to record all info about the problem.

[2017-06-13 07:57] dejonghb commented on #736
Might be related to a 4.x+ kernel bug on XFS? https://github.com/facebook/rocksdb/commit/76979

[2017-06-13 08:30] #736 closed

[2017-06-13 08:31] dejonghb commented on #736
Kernel bug, not an alba bug.

[2017-06-13 09:29] dejonghb commented on #736
A tool called ldb with an option to repair rocksdb files is included in their codebase.
[code]

Copy the tool to the system with corrupted files (eg. to ~/bdj/ldb) and do:

[code]

Check afterwards if all is consistent:
[code]

Example result:
[code]

[2017-06-13 14:29] wimpers commented on #627
@jeroenmaelbrancke  see Jan's comment to change the critical to warning so you aren't alarmed at night.

[2017-06-13 14:32] wimpers commented on #618
@JeffreyDevloo please reproduce the scenario first so we know exactly how we got into it.

[2017-06-13 14:36] wimpers commented on #582
BAM needs to lay its egg. Will we still do auto discovery now that project Golden Gate is coming our way.

[2017-06-13 14:47] domsj commented on #618
We (pluralis majestatis) already know exactly how we got into it

[2017-06-14 07:35] jeroenmaelbrancke commented on #627
Alerting has been disabled but will not been cleaned in Check_mk.
Thresholds are still the same 1% warning and 2% critical or should we increase this?

![image](https://user-images.githubusercontent.com/2900612/27120563-5a25f300-50e4-11e7-98b5-af8585f0e707.png)

[2017-06-14 07:38] wimpers commented on #627
@saelbrec please advise

Depending on the amount of times (happening every day is bad) this occurs I would increase it to maybe 5-10%.

[2017-06-15 07:44] jeroenmaelbrancke opened #737 "Local backend is disqualified because on namespace already exists"
On the global proxies we see following error:
[code]

similar issue: #550

Why do we get these errors? Can you improve this error?

[2017-06-15 07:58] wimpers commented on #737
@jeroenmaelbrancke  any idea why the namespace was created multiple times?

[2017-06-15 08:10] domsj commented on #737
My current best guess: possibly multiple different namespaces were created on the main backend around the same time.
This could cause a race in the osd message delivery where 2 proxies try to create the same local backend namespace simultaneously.
Alba will/should correctly recover from the race, but a local-backend-osd might be temporarily disqualified.
If the hypothesis is correct this can be so

[2017-06-15 11:36] #737 closed

[2017-06-15 13:04] jeroenmaelbrancke opened #739 "Change severity level of ECONNRESET error"
As discussed please change the severity for ECONNRESET to info or debug.

[code]

[2017-06-15 13:15] wimpers commented on #739
@jeroenmaelbrancke can you add the discussion?

[2017-06-15 13:21] wimpers commented on #550
Did the fix for https://github.com/openvstorage/alba/issues/737 also fix this one? Prob not?

[2017-06-15 13:46] domsj commented on #550
no it did not also fix this one

[2017-06-15 14:38] jeroenmaelbrancke commented on #739
[code]

[2017-06-16 06:41] jeroenmaelbrancke commented on #739
wrong repo: see https://github.com/openvstorage/arakoon/issues/181

[2017-06-16 06:41] #739 closed

[2017-06-16 12:15] dejonghb opened #740 "proxy has too many fd open (deleted files)"
Found with version 1.3.16 on 2 nodes:

Example:
[code]

Causes proxy to deny more connections:
[code]

Number of fd's in use:
[code]

Deleted files:
[code]

[2017-06-16 12:20] domsj opened #741 "reduce frequency of dataloss with copysets/chainsets"
There's a tradeoff that can be made between frequency of dataloss and amount of data lost on each occurence, see http://hackingdistributed.com/2014/02/14/chainsets/ .
(In the long run the same amount of data will still be lost on average though.)

Note that the contents of the article are applicable not only for alba but for arakoon placement too

[2017-06-19 10:00] toolslive commented on #461
#740

[2017-06-21 12:20] wimpers commented on #740
@domsj  @toolslive do you know if this is fixed in a later version?

[2017-06-21 12:24] domsj commented on #740
@wimpers this is not fixed in a later version

[2017-06-27 09:53] JeffreyDevloo opened #744 "Expose certain cli command using the proxy"
### Feature description
Might be useful to offload certain commands to a proxy instead of having to fetch all the configuration files ourselves.

Requested commands (used frequently by the healthcheck)
- asd-set
- asd-delete
- list-presets
- deliver-messages
- show-namespace
- list-osds
- list-ns-osds
- get-disk-safety
- get-maintenance-config

[2017-06-27 14:28] khenderick opened #745 "Provide identical stats for Active Drives"
At this moment, we ask the ABM for various statistics related to the ASD. As more types of drives (like the Active Drive) are added, we'd like to ask these in the same flow.

Reference: https://github.com/openvstorage/framework-alba-plugin/issues/415#issuecomment-306792091

[2017-06-27 16:04] domsj commented on #745
Are you referring to the output from `alba list-osds` or `alba asd-multistatistics` ?
The first should be in the same format, the second is asd specific (see the name)

[2017-06-28 13:21] wimpers commented on #745
@domsj  how much work is this?

[2017-06-28 13:23] wimpers commented on #744
@JeffreyDevloo what is the benefit exactly?  For the proxy you will also need to get a config, right?

[2017-06-28 13:38] domsj commented on #744
There can be a benefit in connection churn. Not sure yet if that is best achieved by adding these commands to the proxy, or whether they should talk to a maintenance process.

[2017-06-28 20:57] toolslive commented on #745
what's an active drive?

[2017-06-29 08:06] JeffreyDevloo commented on #744
The benefit is not having to fetch a config file but just knowing where the proxy is listening. It could help diminish the amount of connections.

[2017-06-29 13:47] toolslive commented on #596
#746 (dyslexia strikes)

[2017-06-29 13:47] #596 closed

[2017-07-05 09:51] khenderick opened #748 "Auto discover "other" sockets on OSD"
When adding an OSD, the framework will give one ip/port, even though the OSD might have more sockets to connect to. Alba should connect to the OSD and figure out the other ones.

[2017-07-05 09:56] wimpers commented on #748
FMI, This would allow the AD  to be used on all ip/ports. Not strictly required for a POC.

[2017-07-05 09:59] khenderick opened #749 "Provide osd-multistatistics"
Like `asd-multistatistics`, we'd like to have a more generic `osd-multistatistics` that does the same, but can also collect information from other types of OSDs (ASD, Active Drive, but not another backend).

[2017-07-05 15:47] JeffreyDevloo opened #750 "Add osd returns information about the added osd"
### Feature description
Add json support for the add-osd which returns:
- osd_id
- osd_type

Optionally introduce a new call `osd-info` which can return
- osd_id: id of the osd
-osd_type: ASD or AD
- in_use_by: albabackend id

Related https://github.com/openvstorage/alba/issues/748

[2017-07-10 08:22] toolslive opened #751 "Can't create namespace"
[code]

Apparently, it's a proper preset propagation predicament.

[2017-07-10 09:30] toolslive commented on #751
hotfix was deployed openvstorage/alba_ee#69

[2017-07-12 15:16] toolslive opened #753 "Preset creation fails with Failure Alba_json.Preset.t.version"
[code]

[2017-07-12 15:20] toolslive commented on #753
on 1.3.16

[2017-07-12 16:06] #753 closed

[2017-07-13 07:32] toolslive opened #756 "caching layer can cause many `create_namespace` calls in quick succession."
as seen here:
[code]

[2017-07-17 12:14] pploegaert commented on #753
Validated ok:
http://testrail.openvstorage.com/index.php?/runs/view/38223&group_by=cases:section_id&group_order=asc

[2017-07-19 07:49] jeroenmaelbrancke opened #761 "maintenance tasks increases when asd is down (cleanuposdnamespace)"
I know it is normal that the tasks on the maintenance increases but after 15min the chunks on this asd will be created on other asds.
So if an asd is down for x hours the maintenance agent should ignore these tasks.

In my example osd 14 and 15 are down for 3 days and the amount of work still increase on the maintenance agent while the auto repair timeout is 900 seconds.

[code]

work items:
[code

[2017-07-20 09:39] toolslive commented on #761
[code]

Delete all that's left on osd `15L` from namespace `1004145L` .
The namespace was deleted, but the osd was down, and the work item is kept in the work queue in te abm (and retried and tracked without success in the maintenance processes).

[2017-07-20 12:36] toolslive opened #763 "deleted namespaces blow up maintenance processes."
On an environment where there were more than 1 million deleted namespaces (don't ask),
maintenance suffers all kind of problems.
The most pressing issue is that maintenance blows up on `PropagatePreset`, pulling  abms and nsms under with it.

Unfortunately, it's a combination of things:
`PropagatePreset` makes the maintenance agent come here:
   https://github.com/openvstorage/alba/blob/1.3.19/oca

[2017-07-20 12:38] toolslive commented on #763
if we're merely fighting symptoms we can also contemplate a bloom filter for the deleted namespaces ...

[2017-07-24 14:28] jeroenmaelbrancke opened #765 "list-namespaces-by-id to-json output wrong format"
The output of list-namespaces-by-id is not supported by the framework.

Output should be something like:
[code]
and not
[code]

[2017-07-27 09:15] #765 closed

[2017-07-31 08:20] domsj opened #772 "verify namespace should keep summary of 'bad' objects it found"

[2017-08-02 12:22] JeffreyDevloo opened #773 "Add osd is rather subawesome when specifying ips"
## Problem description
Add osd can only take on host, so specifying multiple ips is kind of pointless without having maintenance to register the asds for you

### ASD config
[code]
### Command attempt 1
alba add-osd --config arakoon://config/ovs/arakoon/mybackend-abm/config?ini=%2Fopt%2FOpenvStorage%2Fconfig%2Farakoon_cacc.ini --host 10.100.69.120,10.100.69.130 --port 8602 --node-id FDOhGm8ZzFvPgG

[2017-08-02 12:59] domsj opened #774 "global backend leaks objects when creating and deleting a namespace"
more precisely in the 'global_kvs' namespace (with name = 'prefix') that is created on each local backend the following keys are leaked:
[code]

[2017-08-07 09:56] domsj opened #775 "Exception in alba_id_t: (Failure "attempting to use a resource from a pool which is being finalized")"
[code]

@pploegaert saw this in a maintenance process on his test env
and IIRC I also saw this on a proxy on the nuvolat setup

still to be further investigated

[2017-08-07 09:58] pploegaert commented on #775
fwiw (old alba version)

[code]

[2017-08-08 15:36] domsj opened #777 "proxy should also refresh & update abm_cfg of fragment_cache backend"
similar to how it updates the abm config (location) for the main backend

(same applies for block cache on the ee repo)

[2017-08-08 16:21] domsj opened #778 "allow telling a proxy to dump object upload/download statistics for a certain namespace"
- partial reads stats would also be nice
- should be recursive in case of composite/global backend

[2017-08-09 07:46] domsj commented on #775
seen again by @jeroenmaelbrancke
`@domsj After we changed the alba manager config on the global proxies (fragment cache) we see following logging:`
```2017-08-09 02:36:46 538539 -0400 - NY1SRV0001 - 6205/0000 - alba/proxy - 1271052 - info - Exception in alba_id_t: (Failure "attempting to use a resource from a pool which is being finalized")```

[2017-08-09 07:51] domsj commented on #775
@jeroenmaelbrancke also told me this kept on being logged, up to 247 times per minute

[2017-08-09 08:27] domsj commented on #775
might be related to #777?

[2017-08-09 09:01] domsj opened #779 "maintenance keeps on trying and failing to repair an unavailable osd (from a cache backend with 1,0,1,1 policy)"
[code]

It would be better if maintenance didn't waste so much effort, perhaps it could just delete those objects, as suggested earlier in https://github.com/openvstorage/alba/issues/437

[2017-08-09 09:32] dejonghb opened #780 "spinning connection retries?"
rejecting connection to an asd causes large performance drop and proxylog is filled with following messages:
[code]

Performance drop might be due to spinning retries.

[code]

[2017-08-09 09:35] toolslive commented on #780
which alba version is this?

[2017-08-09 09:56] dejonghb commented on #780
[code]
(Jan asked to create ticket here)

[2017-08-09 15:19] domsj commented on #780
Apparently the behavior is the same for an asd that is down as for one that is blocked by iptables.
To avoid these useless connection attempts towards an asd that is down we would need the disqualification concept for reads too.
(Currently it's a bit too write specific, as a full asd is rightfully rejected for new writes, but should still be used for reading.)

[2017-08-09 15:27] domsj opened #781 "partial read behavior on initial failure could be optimized"
When the data fragment from which the proxy tries to read a bit of data is unavailable (most likely because the asd is down) there will currently be a fallback to fetch the entire chunk so it can rebuild the missing data fragment (followed by a repair-on-read of the missing fragment).

While functionally correct the proxy could (in case of no compression) instead fetch the right k slices from othe

[2017-08-10 09:50] JeffreyDevloo opened #783 "alba get-osd-claimed-by is rather subawesome when specifying ips"
### Problem description
The command can only take one host in. If this host would be unreachable the error ' I dont think this is an osd' is raised which is also rather subawesome

#### Multiple hosts
[code]
#### Specifying multiple ips (with the weird 'I dont think...')
[code]
Similar to https://github.com/openvstorage/alba/issues/773

[2017-08-14 12:36] jeroenmaelbrancke opened #786 "negative count in list-work (json output)"
We count negative maintenance tasks on the ssdbackend01...
This happened after we updated Alba on the Arakoon nodes and restarted the ABM cluster.

Json output:
[code]

Without --to-json:
[code]

Versions:
[code]

[2017-08-16 09:03] domsj commented on #751
the fix in #759 is apparently not good enough, as we saw this issue again.

[code]

forgot to check the preset version at that time. now (2017-08-16 05:02:22 172943 -0400) got this result:

[code]

[2017-08-16 16:08] domsj commented on #777
fixed by #789

[2017-08-16 16:08] #777 closed

[2017-08-16 16:09] domsj commented on #775
fixed by #789

[2017-08-16 16:09] #775 closed

[2017-08-16 17:44] domsj commented on #774
the leaking has stopped since #776, but a cleanup script for affected backends remains to be written

[2017-08-17 11:28] toolslive commented on #786
a workaround is this:
[code]

[2017-08-17 13:18] #773 closed

[2017-08-17 13:27] domsj commented on #783
fixed by #790

[2017-08-17 13:27] #783 closed

[2017-08-17 15:37] wimpers commented on #772
@domsj what does this break? What does this bring as advantage?

[2017-08-17 16:00] domsj commented on #772
It shouldn't break anything (if implemented correctly).
In case some objects are permanently broken this might tell us which ones those are.

[2017-08-18 10:39] toolslive commented on #786
what happens is this:
during upgrade, you have a mixed cluster and few nodes  do counter administration and a few nodes run the older versions and subsequently, don't. If one of these becomes master, the count will be off.
It's transient, and easy to fix later on.

[2017-08-18 10:39] #786 closed

[2017-08-18 12:12] domsj commented on #461
probably fixed by #793, create a new ticket or reopen in case this would be seen again

[2017-08-18 12:12] #461 closed

[2017-08-18 12:12] domsj commented on #740
probably fixed by #793, create a new ticket or reopen in case this would be seen again

[2017-08-18 12:12] #740 closed

[2017-08-18 12:12] #756 closed

[2017-08-21 09:09] domsj commented on #642
This will be fixed / significantly improved by https://github.com/openvstorage/alba_ee/pull/93

[2017-08-21 09:11] domsj commented on #607
closing, as it's been in state verification for more than 5 months, and I haven't heard of such reports anymore.

[2017-08-21 09:11] #607 closed

[2017-08-21 09:37] domsj commented on #750
[code]

Adding an osd does not assign an osd_id .. that only happens when the osd is claimed.
I also suppose the caller is not amnesiac and can remember the type of the osd it just added.

For the second part of this ticket: this can currently be done with `alba list-all-osds` and then filtering on client side to find the osd you're interested in.
If really needed this filtering can be done earlie

[2017-08-22 06:12] toolslive opened #797 "disqualified OSDs cause NoSatisfiablePolicy"
root cause seems to be this: `Invalid_argument String.blit` which is suspect enough by itself
[code]

[2017-08-23 11:28] domsj commented on #336
This is available in alba OSE as of version 1.3.20 (see #758 & #764)

[2017-08-23 11:28] #336 closed

[2017-08-23 12:20] domsj commented on #699
While trying to fix this issue I noticed that the situation is actually worse than initially reported.
We can leak many namespaces on an unlinked backend.

When unlinking a backend using the gui, this will result in calling `alba purge-osd`.
Purging an osd currently has the following semantics:
- alba will forget the osd ever existed (we'll repair all data that was on it)
- alba will not clean up

[2017-08-23 12:22] domsj commented on #699
or should we push the problem to the user doing the unlink? (ask whether cleanup should be done on the local backend or not...)

[2017-08-23 13:37] #630 closed

[2017-08-23 14:00] #641 closed

[2017-08-23 14:51] wimpers commented on #778
Dump as in delete stats which are in the proxy or dump as being able to retrieve?

[2017-08-23 15:24] domsj commented on #778
I meant outputting those statistics to the log (file)

[2017-08-24 08:48] wimpers commented on #774
@ops can you guys a script for the cleanup of affected  namespaces?

[2017-08-24 10:08] domsj commented on #774
fwiw I actually already started working on a cli addition for this

[2017-08-24 11:25] #779 closed

[2017-08-25 07:31] domsj commented on #763
I made an improvement related to this ticket, see https://github.com/openvstorage/alba/pull/803.
@toolslive do we consider that enough to close this ticket, or de we want to do more?

[2017-08-25 07:55] toolslive commented on #763
this should be enough.

[2017-08-25 07:55] #763 closed

[2017-08-25 08:12] #774 closed

[2017-08-29 08:17] domsj commented on #692
I don't see anything left to do here, so closing

[2017-08-29 08:17] #692 closed

[2017-08-29 09:33] wimpers commented on #624
Closed by PM.

[2017-08-29 09:33] #624 closed

[2017-09-01 08:19] domsj commented on #354
If we really want to solve this (that is: be confident that we don't return bad data, so we can shift the blame towards an upper layer) there needs to be end-to-end checksum verification.

Meanwhile I've changed my mind a bit on how/where this should be tackled:
- the checksum should be calculated as soon as possible when receiving the data (so in the edge)
- the checksum should be stored by the v

[2017-09-01 09:33] domsj commented on #354
Regarding the costs of this:
- when using e.g. crc32c there would be an additional 4 bytes to be stored per cluster (4kb)
  (a non cryptographic hash such as crc32c should be good enough for this purpose? or maybe crc64?)
  => so the main cost of that is more memory usage in the volumedriver (and also the edge when HPRM is enabled)
- you pay some extra cpu to calculate the checksum in the edge & v

[2017-09-01 09:37] domsj commented on #354
related volumedriver issue: https://github.com/openvstorage/volumedriver-ee/issues/12

[2017-09-01 10:22] redlicha commented on #354
Out of scope for this ticket but possibly interesting in the bigger picture: use protection information provided to the edge client (do our target applications offer that)?

[2017-09-01 13:07] wimpers commented on #639
@jeroenmaelbrancke do we still see this one?

[2017-09-01 14:56] JeffreyDevloo opened #812 "Show possible exception types and codes in the help pages"
### Feature description
Could be handy to pickup the possible exceptions and codes to automate things around alba

[2017-09-04 12:27] JeffreyDevloo opened #813 "Add osd and get-osd-claimed-by are rather inconsistent when specifying ips"
### Problem description
Alba is pretty inconsistent with their CLI arguments
The general flow so far is:
Update osd:  --ip can be a single ip or a comma separated list of ips
asd-multistatistics: --long-id can be single long id or a comma separated list of ips

Now the odd one are get-osd-claimed-by /  add-osd which can take multiple --host (not documented) instead of a comma separated list

[2017-09-07 12:08] toolslive commented on #797
Basically any unexpected exception coming from a local backend that is used as an OSD in a global backend will cause that local backend to be disqualified.
For example, a master switch of a `nsm` will show itself as:

[code]
Since the OSD is disqualified, the global backend can get into trouble.
In this particular case, the arakoon had no real issue as the master switch was triggered by `drop-mast

[2017-09-07 12:12] wimpers commented on #797
@toolslive , is this related to ticket https://github.com/openvstorage/alba/issues/550 or can we fix this one while at it?

[2017-09-07 12:15] toolslive commented on #797
It's probably related. Also, the more namespace managers you have for the local backend, the more likely you are to run into this.

[2017-09-07 13:33] JeffreyDevloo commented on #750
I ment the long_id which is returned by performing an add currently
[code]
And the osd_type is also determined after adding as list-available-osds returns its kind
[code]

[2017-09-12 07:57] wimpers opened #814 "Store creation date of alba objects and namespaces"
Store the creation date of alba objects and namespaces so it can be retrieved later.

[2017-09-15 14:45] toolslive commented on #814
it already exists for objects (`timestamp` field in manifests)

[2017-09-26 15:58] wimpers commented on #749
@toolslive @domsj  isn't this a duplicate of https://github.com/openvstorage/alba/issues/745

[2017-10-09 08:31] domsj opened #823 "Proxy complains every minute about cache quota propagation that fails for a bunch of namespaces"
[code]
...
[code]

[2017-10-10 09:48] toolslive opened #824 "Proxy startup fails to become fully operational"
Launching a proxy:
[code]

It never fully recovers from this, and this results in partial failure (failing partial reads)

[2017-10-19 09:19] wimpers commented on #797
@toolslive is this fixed in https://github.com/openvstorage/alba_ee/releases/tag/1.5.16

[2017-10-19 09:31] toolslive commented on #797
In essence, "disqualified OSDs cause NoSatisfiablePolicy" is not a bug. The bug here is that there
were plenty of simple scenarios which cause the OSD to be disqualified while it shouldn't.
We fixed a number of these cases.

[2017-10-19 09:45] wimpers commented on #618
@domsj please explain. Is this still an issue?

[2017-10-19 09:49] wimpers commented on #642
Still an issue

[code]

[2017-10-19 10:02] wimpers commented on #550
@domsj @toolslive is this still an issue?

[2017-10-19 12:54] wimpers commented on #797
From @toolslive :I would close this one. I'll open another whenever the remaining cases (re)surface

Hence closing down this one.

[2017-10-19 12:55] #797 closed

[2017-10-19 13:04] toolslive opened #825 "Global proxy suffers from 'illegal argument String.blit' while uploading"
It causes either to the `AlbaOsd` to be disqualified (see #797 ) or (when the Fail fast workaround is in place, the proxy to shut die)
[code]

[2017-11-13 09:29] wimpers commented on #741
@romain , please share your views on this. Should we change anything on ALBA. Isn't this a very hypothetical question as dataloss is simply not acceptable.

[2017-11-13 12:46] toolslive commented on #741
Copysets are not that to implement, and it's a local change. Chainsets need more changes.
This can also considered to be an  argument to have wider erasure coding policies (with a higher number of parity fragments).

[2017-11-13 13:20] wimpers commented on #749
After discussion with @toolslive closed as duplicate

[2017-11-13 13:20] #749 closed

[2017-11-27 14:10] wimpers commented on #761
@toolslive

* Would the items be removed from the queue in case the OSD is removed through the model?
* Would it make sense not to keep the work items in the queue in case of a namespace delete which didn't succeed but try again periodically based upon the flag that the namespace is deleted?

[2017-11-27 14:24] wimpers commented on #750
@JeffreyDevloo what is still to be done? What is the use case you need it for?

[2017-11-27 14:38] JeffreyDevloo commented on #750
It would make calling list-available-osds or list-osds no longer necessary after adding an osd as we would have all the info we need from the add-osd call (we currently query all osds to find the type of the newly added one)

[2017-11-27 15:03] jeroenmaelbrancke opened #826 "huge drop in read performance after playing around with asd-set-slowness"
When all the asds of the cache backend are online we could read 4530KiB/s.
From the moment we introduce latency (asd-set-slowness) to the cache asds the read performance drops to 187KiB/s.

I'm not sure if i configured something wrong but this is not expected i suppose.

The environment is still online and the proxies are on debug level.
ips: 10.100.189.31-33

packages:
[code]

setup:
1 vpool
1 ca

[2017-11-27 15:14] domsj commented on #826
I think this is exactly the expected performance:

fragments on the hdds are 2MB
this means that optimistically we can fetch 50 fragments/s => 20ms latency

according to fio the avg latency=21388.24 us, which is only slightly more than 20ms

fwiw, in this case performance would be better if no fragment cache were configured ... then the proxy would do partial reads from the hdds too, while now it

[2017-11-30 16:40] JeffreyDevloo opened #828 "Claim-osd should handle multiple IPs"
### Problem description
We have seen a case where the same private IP for kvm was present on multiple nodes. These nodes had multiple ips (node1: 10.100.0.1, 192.168.22.1, node2 : 10.100.0.2, 192.168.22.1)
Adding osds proved no issue for alba, claiming did however

The prerequisite is already having claimed an osd for the other node (say you claimed it on node1, the issue would occur for node 2)
W

[2017-12-04 08:27] wimpers commented on #828
When fixing this, it might be worthwhile to also have a look at https://github.com/openvstorage/alba/issues/748 ?

[2017-12-04 08:52] wimpers commented on #601
@domsj any update on this? Is this still an issue ( @jeroenmaelbrancke @matthiasdeblock  ) ?

[2017-12-04 09:11] domsj commented on #601
I vaguely recall making some improvement related to this subject, but can't remember if it was before or after this ticket ... so I'm wondering too whether this is still an issue (@openvstorage/operations ?)

[2017-12-04 09:41] toolslive commented on #828
So, if I understand correctly.
 - on machine A, ASD A0 was added with socket addresses `x` and `a0`
 - on machine B, ASD B0 was added with socket addresses `x` and `b0`

now connecting to `x` gets you to A0 or B0 but it depends on the location of the client that connects.
Connecting to B0 from machine A is not possible if `x` is tried before `b0`.

@wimpers : I think we can assume this is a config

[2017-12-04 09:44] wimpers commented on #828
Closed by PM based on the comment above. If you would disagree, re-open or let me know.

[2017-12-04 09:44] #828 closed

[2017-12-04 10:52] toolslive commented on #728
The problem is the generation of the json (It boils down to the use of a `List.map` in yojson which can overflow)

[2017-12-04 13:26] toolslive commented on #823
Yes.
[code]
Seen about 450k entries per day on a certain node.

[2017-12-04 13:39] toolslive commented on #823
that particular log line should be gone in 1.6.1 because the underlying issue was fixed.

[2017-12-04 13:44] domsj commented on #823
@toolslive sure this is fixed in 1.6.1? (if you're referring to https://github.com/openvstorage/alba_ee/pull/128/files : as far as I understand it doesn't make this logging go away)
or am I missing something?

[2017-12-05 11:06] ThoMeyM commented on #642
During a test on our pocops environment, the updated Alba with async enabled doesn't show improvements regarding memory usage. In fact, memory usage has even increased (by 50%) as you can see in the graph below.
![image](https://user-images.githubusercontent.com/31539392/33603835-2f363b74-d9b4-11e7-9b61-2161d68e76e7.png)
On the left side you can see the memory before the update, the right side is

[2017-12-05 12:51] openvstorage-ci commented on #814
This issue was moved to openvstorage/alba_ee#153

[2017-12-14 10:20] wimpers commented on #823
@toolslive @domsj  what is the status now? Fixed, Not fixed?

[2017-12-14 10:34] wimpers commented on #825
@domsj can you pick this one up in the context of  trying to fix the fail fast issues.

[2017-12-14 12:02] domsj commented on #825
Great, just the ticket I needed, I'm hoping it would be fixed (for real this time) in https://github.com/openvstorage/alba_ee/pull/167.
Will be available as of alba 1.5.20 / 1.6.2.

[2017-12-18 08:38] matthiasdeblock commented on #686
# Possible case
Last week, due to adding huge amount of ASD's to a certain backend, we had to stop the maintenance agent for that certain backend. That was due to the possible high load on the re-balance.
Due to a ASD vm that went down (broken SD-card), a namespace lost a fragment and came in a 'only 15 of the 16 fragments available' state.
If we get into a state where we had to stop the maintenan

[2017-12-21 15:07] wimpers commented on #750
@JeffreyDevloo see question above.

[2017-12-21 15:26] wimpers commented on #826
@jeroenmaelbrancke  isn't the partial read from HDD exactly the path you wanted to test by setting the asd-slowlyness?

[2017-12-28 16:49] domsj commented on #814
moved issues should be closed? and I would even expect that to happen automatically?
@wimpers

[2017-12-29 10:24] domsj commented on #823
fixed by #185, will be in alba 1.5.21

[2017-12-29 10:24] #823 closed

[2018-01-02 08:36] #814 closed

[2018-01-02 16:26] wimpers commented on #824
@toolslive does restarting the proxy fix the issue?  Otherwise as work around we (BE or India OPS) could monitor the log message ´Failure "attempting to use a resource from a pool which is being finalized"´ and restart the proxy accordingly?

[2018-01-09 15:31] JeffreyDevloo commented on #750
No longer an issue if the kind is already returned.
Closing

[2018-01-09 15:31] #750 closed

[2018-01-11 14:22] jeroenmaelbrancke commented on #601
Ran a test on the pocops and it looks like the amount namespaces decrease on the cachebackend when deleting the file on the volumedriver.

[code]
result on the cachebackend:
[code]
Looks like the problem has been solved.
Tested with Alba version 1.6.1.

[2018-01-11 14:22] #601 closed

[2018-01-16 07:55] jeroenmaelbrancke commented on #639
The amount has been dropped to 65 for one day for all the maintenance agent.
[code]

You can close the ticket.

[2018-01-16 08:15] wimpers commented on #639
See last remark , closing this ticket. Re-open if needed.

[2018-01-16 10:35] wimpers commented on #751
@toolslive do we still see this type of issues? I haven't heard of issues on Nuvolat/GIG with it (but I might not have all info of course).

[2018-01-17 08:31] #639 closed

[2018-01-19 07:42] #216 closed

[2018-01-24 14:02] wimpers commented on #642
@domsj what is the status of this, do we still experience this issue?

[2018-01-24 14:07] toolslive commented on #642
Yes, we still have the issue.

[2018-02-27 10:42] JeffreyDevloo opened #830 "proxy-download-object does not redirect the file to where the command was executed"
### Problem description
I'd assume that a proxy would redirect everything I ask it to back to my localhost. This is not the case witht the proxy-download-object.
`alba proxy-download-object --host=OTHER_IP --port=A_PORT A_NAMESPACE AN_OBJECT MY_LOCAL_PATH` will download the object to the filesystem of OTHER_IP instead the local one

[2018-03-01 13:44] domsj commented on #830
fixed in https://github.com/openvstorage/alba_ee/pull/269

[2018-03-01 13:44] #830 closed, assigned to domsj

[2018-03-06 10:56] wimpers commented on #825
@domsj what is the status of this ticket? Can this be closed

[2018-03-07 14:04] domsj commented on #825
This is not yet fully fixed.
@andersfugmann made it reproducible in https://github.com/openvstorage/alba_ee/pull/256
after which I analysed the (debug) logs and made the following change, which should make it occur less, but it's not a proper fix: https://github.com/openvstorage/alba_ee/pull/250.
So some work remains to be done, and this issue should not yet be closed.

[2018-03-07 16:02] domsj commented on #825
actually this could be closed as a duplicate of https://github.com/openvstorage/alba_ee/issues/187 (or the other way around)

[2018-03-27 08:30] #825 closed

[2018-05-18 07:18] wimpers commented on #627
@toolslive any suggestions for this one. Should OPS use bigger thresholds?

[2018-05-18 07:51] toolslive commented on #627
`subset between the max and min usage is >2%.`
I don't know what it means.
I have been looking at some backends with bad distribution
And saw the following statistics from one of the maintenance agents:
[code]
The dominant activity is cleanup, beating rebalance 350/1.
So why do we create so much waste?
That backend has the following distribution:

interval     | count
-------------|---------
[60-6

[2018-06-06 10:46] wimpers commented on #550
Fixed in EE version but not in OSE version.

[2018-06-27 16:01] toolslive commented on #745
[code]
something like this is the best we can do. (that's worthless, as you get there from `list-osds`)

[2018-06-27 16:01] #745 closed

[2018-07-13 13:53] wimpers commented on #627
@toolslive can this one be closed as this is expected? I believe this is the same scenario as the full ASD scenario where the setup is async?

[2018-07-16 05:33] toolslive commented on #627
This will happen if for example in a setup where all nodes have 4 ASDs except for 1 node that has only 1 ASD. The natural tendency is to have this solitary ASD filled up before the others even reach 50%. Rebalancing will delay this somewhat.

[2018-07-16 05:33] #627 closed

[2018-08-16 09:51] wimpers commented on #571
This is expected behaviour so nothing to fix.

[2018-08-27 15:37] wimpers commented on #493
Since there is no request for this info from OPS closing it down. Re-open if needed.

[2018-08-27 15:37] #493 closed

[2018-09-03 08:19] wimpers commented on #381
Redis-LRU is no longer supported and is replaced by random removal.

[2018-09-03 08:19] #381 closed

[2018-09-03 08:27] wimpers commented on #433
LRU was removed.

[2018-09-03 08:27] #433 closed

[2018-09-03 08:30] wimpers commented on #551
Closing this one down as we no longer use Redis for LRU.

[2018-09-03 08:30] #551 closed

[2018-10-11 13:53] #826 closed

[2018-10-22 15:51] toolslive commented on #761
If the OSD was purged, the `CleanupOsdNamespace` items will complete without problem.
The maintenance agent that does it, will log
[code]
on info level.

[2018-10-23 08:20] toolslive commented on #699
fixed in alba-ee  (>=1.5.27)

[2018-10-23 08:52] toolslive commented on #728
fixed in alba-ee 1.6.3

[2018-10-23 08:52] #728 closed

[2018-10-23 08:52] toolslive commented on #716
waiting on QA effort.

[2019-02-19 12:55] JeffreyDevloo commented on #824
No longer seen since 1.5.25-20

[2019-02-19 12:55] #824 closed

[2019-02-19 12:58] #550 closed